{% extends 'store/base.html' %}
{% load staticfiles %}
{% block content %}

<style>
    #testinomial__page .container {border-radius: 0px; padding: 13px; padding-top: 0; background: linear-gradient(45deg, #ffffff, #ffe5e5);}
    #testinomial__page .container .header{font-size: 34px; padding: 50px; padding-bottom: 0px; padding-top: 10px; margin: 0px; font-weight: 600;}
    #testinomial__page .container .content{padding-top: 16px; display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap:1rem;}

    #testinomial__page .container .content .card{background-color: #ffe5e5; margin-bottom: 10px; border: none; border-top-left-radius: 20px; box-shadow: 1px 7px 3px #532726;  background: linear-gradient(45deg, #ffffff, #ffe5e5);}
    #testinomial__page .container .content .card .card-img{width: 40%; margin: 0 auto 0 auto; padding: 10px;}
    #testinomial__page .container .content .card .card-title{font-size: 1rem; padding: 0; padding-bottom: 10px; margin: 0 auto 0 auto; font-family: "Poppins"; font-weight: 600;}

    /* For mobile */
    @media only screen and (max-width: 576px) {
        #testinomial__page .container .content{grid-template-columns: 1fr;}
    }

    /* For tab */
    @media screen and (min-width: 576px) {
        #testinomial__page .container .content{grid-template-columns: 1fr 1fr;}
    }

    /* For big screen */
    @media  screen and (min-width: 992px) {
        #testinomial__page .container .content{grid-template-columns: 1fr 1fr 1fr;}
    }

</style>

<section class="py-0" id="testinomial__page">
    {% if testinomials %}
    <div class="container">
        <div class="header">What people say about us</div>
        <div class="content">
            {% for testinomial in testinomials %}
            <div class="card lift">
                <img class="card-img rounded-circle img-fluid" src="{{ testinomial.image.url }}" alt="Card image cap">
                <div class="card-body">
                    {{ testinomial.description }}
                </div>
                <div class="card-title">{{ testinomial.name }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Pagination -->
    <nav class="d-flex justify-content-center">
        {% if testinomials.has_other_pages %}
        <ul class="pagination justify-content-center">
        
            {% if testinomials.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ testinomials.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
    `       <li class="page-item">
                <a class="page-link disabled" href="#">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for i in testinomials.paginator.page_range %}
                {% if testinomials.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if testinomials.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ testinomials.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link disabled" href="#">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        {% endif %}
        </ul>
    </nav>

    {% endif %}
</section>

{% endblock %}
{% block script %}
<script>

</script>
{% endblock %}
