SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=*
DEPLOYMENT=False
SITE_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
DEFAULT_FROM_EMAIL=

DEFAULT_FILE_STORAGE=
STATICFILES_STORAGE=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=

PAYPAL_RECEIVER_EMAIL=
PAYPAL_TEST=

RAZORPAY_KEY=
RAZORPAY_SECRET=
FIXER_API_KEY=
IPSTACK_KEY=

DEFAULT_COUNTRY=
DEFAULT_CURRENCY=
IP_BASED_PRICING=
DEFAULT_CUNTRY_ALPHA_2=
DEFAULT_CUNTRY_ALPHA_3=

RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=

DELHIVERY_API_KEY=

SEND_SMS=True
SMS_API_KEY=
