boto3==1.17.12
Django==2.2
django-ckeditor==6.0.0
django-countries==6.1.2
django-crispy-forms==1.10.0
django-heroku==0.3.1
django-paypal==1.0.0
django-ses==1.0.3
django-storages==1.9.1
geoip2==4.0.2
gunicorn==20.0.4
phonenumbers==8.12.19
Pillow==8.1.0
psycopg2==2.7.5
python-decouple==3.4.0
razorpay==1.2.0
s3transfer==0.3.3
Unipath==1.1
