<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    

    <!-- Gabriela font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gabriela&display=swap" rel="stylesheet">
    <style>
        body{
            margin-top:20px;
            background:#eee;
        }

        .invoice {
            padding: 30px;
        }

        .invoice h2 {
            margin-top: 0px;
            line-height: 0.8em;
        }

        .invoice .small {
            font-weight: 300;
        }

        .invoice hr {
            margin-top: 10px;
            border-color: #ddd;
        }

        .invoice .table tr.line {
            border-bottom: 1px solid #ccc;
        }

        .invoice .table td {
            border: none;
        }

        .invoice .identity {
            margin-top: 10px;
            font-size: 1.1em;
            font-weight: 300;
        }

        .invoice .identity strong {
            font-weight: 600;
        }


        .grid {
            position: relative;
            width: 100%;
            background: #fff;
            color: #666666;
            border-radius: 2px;
            margin-bottom: 25px;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
        }
        thead > tr > td:nth-child(2) {
            width: max-content;
            min-width: 300px;
            max-width: 400px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <!-- BEGIN INVOICE -->
            <div class="col-xs-12">
                <div class="grid invoice">
                    <div class="grid-body">
                        <div class="invoice-title">
                            <div class="row">
                                <div class="col-xs-12" style="font-family: 'Gabriela', serif; font-size: 4rem;">
                                    PUNAM FLUTES
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>Invoice<br>
                                    <span class="small">order #{{ order_id }}</span></h2>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <a class="btn" onclick="printInvoice()" id="print">Print</a>
                                    <!-- <address>
                                        <strong>Order Date:</strong><br>
                                        18-04-2022
                                    </address> -->
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-6">
                                <address>
                                    <strong>Billed To:</strong><br>
                                    {{ billing_address.full_name|default:'' }} <br>
                                    {{ billing_address.street_address|default:'' }}<br>
                                    {{ billing_address.city|default:'' }}<br>
                                    {{ billing_address.state|default:'' }} {{ billing_address.postal_code|default:'' }} {{ billing_address.country|default:'' }}<br>
                                    <abbr title="Phone">P:</abbr> {{ billing_address.mobile_number|default:'' }} <br>
                                    <!-- <strong>State/UT Code:</strong> -->
                                </address>
                            </div>
                            <div class="col-xs-6 text-right">
                                <address>
                                    <strong>Shipped To:</strong><br>
                                    {{ shipping_address.full_name|default:'' }} <br>
                                    {{ shipping_address.street_address|default:'' }}<br>
                                    {{ shipping_address.city|default:'' }}<br>
                                    {{ shipping_address.state|default:'' }} {{ shipping_address.postal_code|default:'' }} {{ shipping_address.country|default:'' }}<br>
                                    {% if shipping_address.mobile_number %}
                                    <abbr title="Phone">P:</abbr> {{ shipping_address.mobile_number }} <br>
                                    {% endif %}
                                    {% if state_code %}
                                    <strong>State/UT Code:</strong> {{ state_code }}
                                    {% endif %}
                                </address>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <address>
                                    <strong>PAN No:</strong> ANLPP2290D<br>
                                    <strong>GST Registeration No:</strong> 07ANLPP2290D1ZY<br>
                                </address>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>ORDER SUMMARY</h3>
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="line">
                                            <td><strong>#</strong></td>
                                            <td class="text-center"><strong>Product</strong></td>
                                            <td class="text-left"><strong>Unit Price</strong></td>
                                            <td class="text-left"><strong>Discount</strong></td>
                                            <td class="text-left"><strong>Qty</strong></td>
                                            <td class="text-left"><strong>Net Ammount</strong></td>
                                            <td class="text-left"><strong>HSN No</strong></td>
                                            <td class="text-left"><strong>Tax Rate</strong></td>
                                            <td class="text-left"><strong>Tax Type</strong></td>
                                            <td class="text-left"><strong>Tax Ammount</strong></td>
                                            <td class="text-left"><strong>Net Tax Ammount</strong></td>
                                            <td class="text-left"><strong>Total Ammount</strong></td>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for product in products %}
                                        <tr 
                                        {% if forloop.counter == products|length %}
                                            class="line"
                                        {% endif %}
                                        >
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ product.title }}</td>
                                            <td class="text-center">{{ product.unit_price }}</td>
                                            <td class="text-center">{{ currency }}{{ product.discount }}</td>
                                            <td class="text-center">{{ product.qty }}</td>
                                            <td class="text-center">{{ currency }}{{ product.net_ammount }}</td>
                                            <td class="text-center">{{ product.hsn|safe }}</td>
                                            <td class="text-center">{{ product.tax_rate|safe }}</td>
                                            <td class="text-center">{{ product.tax_type|safe }}</td>
                                            <td class="text-center">{{ product.tax_amount|safe }}</td>
                                            <td class="text-center">{{ currency }}{{ product.net_tax_amount }}</td>
                                            <td class="text-center">{{ currency }}{{ product.total_amount }}</td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td class="text-center"><strong>TOTAL</strong></td>
                                            <td colspan="2"></td>
                                            <td class="text-center"><strong>{{ currency }}{{ total_discount }}</strong></td>
                                            <td colspan="6"></td>
                                            <td class="text-center"><strong>{{ currency }}{{ total_tax_amount }}</strong></td>
                                            <td  class="text-center"> <strong>{{ currency }}{{ total_amount }}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>									
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right identity">
                                <strong>PUNAM FLUTES</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END INVOICE -->
        </div>
    </div>
    <script>
        function printInvoice(e){
            document.getElementById('print').style.display = 'none';
            window.print();
            document.getElementById('print').style.display = 'inline-block';
        }
    </script>
    
</body>
</html>