<!DOCTYPE html>
<html>
<head>
<title>invoice</title>
</head>
<body style="    background: #cccccc; font-family: Helvetica, sans-serif;font-size:13px;padding: 50px 10px;">
    <div class="container" style="max-width: 850px; margin:0 auto; padding: 10px;background-color: white;">

        <table width="100%">
          <tr>
            <td width="30%"><div class="logotype" style="background: #3b476d;color:#fff;height:75px;  line-height: 75px; text-align: center; font-size:11px; " ><h1 style="margin: 0;"><strong>PUNAM FLUTES</strong></h1> </div></td>
            <td width="70%"><div style="color:#fff; text-align: center;background: #3b476d;border-left: 15px solid #fff;padding-left: 30px;font-size: 26px;font-weight: bold;letter-spacing: -1px;height: 73px;line-height: 75px;">Order invoice</div></td>
            <td></td>
          </tr>
        </table> 
        <br>
        <table width="100%" style="border-collapse: collapse;">
          <tr>
            <td widdth="50%" style="background:#eee;padding:20px;">
              <strong>Invoice</strong> <br>
              <strong>Date:</strong> {{order_placed}}<br>
              <strong>Order-nr:</strong>{{ order_id }}<br>
              <strong>E-mail:</strong> info@flute.in<br>
              <strong>Phone:</strong>  +91 8505-922-922, +91 8920-038-458 <br>
            </td>
            <td style="background:#eee;padding:20px;">
              <strong>Vendor :</strong><br>
                Punam Flutes <br>
                info@flute.in <br>
                A 58, Jawahar Park Deoli Road Road Khanpur <br>
                New Delhi, Delhi <br>
                India, 110062 <br>
            </td>
          </tr>
        </table><br>
        <table width="100%">
          <tr>
            <td>
              <table>
                <tr>
                  <td style="vertical-align: text-top;">
                    <div style="background: #ffd9e8 url(https://cdn0.iconfinder.com/data/icons/commerce-line-1/512/comerce_delivery_shop_business-07-128.png);width: 50px;height: 50px;margin-right: 10px;background-position: center;background-size: 42px;"></div>   
                  </td>
                  <td>
                    <strong>Billed To :</strong><br>
                    {{ billing_address.full_name|default:'' }} <br>
                    {{ billing_address.street_address|default:'' }}<br>
                    {{ billing_address.city|default:'' }}<br>
                    {{ billing_address.state|default:'' }} {{ billing_address.postal_code|default:'' }} {{ billing_address.country|default:'' }}<br>
                    <abbr title="Phone">P:</abbr> {{ billing_address.mobile_number|default:'' }} <br>
                    {% if state_code %}
                    <strong>State/UT Code:</strong> {{ state_code }}
                    {% endif %}	  
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr>
                  <td style="vertical-align: text-top;">
                    <div style="background: #ffd9e8 url(https://cdn4.iconfinder.com/data/icons/app-custom-ui-1/48/Check_circle-128.png) no-repeat;width: 50px;height: 50px;margin-right: 10px;background-position: center;background-size: 25px;"></div>   
                  </td>
                  <td>
                      <strong>Shipped To:</strong><br>
                      {{ shipping_address.full_name|default:'' }} <br>
                      {{ shipping_address.street_address|default:'' }}<br>
                      {{ shipping_address.city|default:'' }}<br>
                      {{ shipping_address.state|default:'' }} {{ shipping_address.postal_code|default:'' }} {{ shipping_address.country|default:'' }}<br>
                      {% if shipping_address.mobile_number %}
                      <abbr title="Phone">P:</abbr> {{ shipping_address.mobile_number }} <br>
                      {% endif %}
                      {% if state_code %}
                      <strong>State/UT Code:</strong> {{ state_code }}
                      {% endif %}
                  </td>
                </tr>
              </table>
            </td>
            
          </tr>
        </table><br>
        <table width="100%" style="border-top:1px solid #eee;padding:10px 0 0px 0">
          <tr>
            <td><strong>PAN No: </strong>ANLPP2290D</td>
          </tr>
      <tr>
            <td><strong>GST Registeration No: </strong>07ANLPP2290D1ZY</td>
          </tr>
        </table>
    <br>
      <table width="100%" style="border-top:1px solid #eee;border-bottom:1px solid #eee;padding:0 0 8px 0">
        <tr>
          <td><h3>Checkout details</h3>Your checkout made by {{ payment_method }}<td>
        </tr>
      </table>
    <br>
        <div style="background: #ffd9e8 url(https://cdn4.iconfinder.com/data/icons/basic-ui-2-line/32/shopping-cart-shop-drop-trolly-128.png) no-repeat;width: 50px;height: 50px;margin-right: 10px;background-position: center;background-size: 25px;float: left; margin-bottom: 15px;"></div> 
        <h3>ORDER SUMMARY</h3>
      
        <table width="100%" style="border-collapse: collapse;">
          <tr>
            <td class="column-header" style="background:#eee;text-transform:uppercase;padding:10px;font-size:11px;border-right:1px solid #eee;"><b>#</b></td>
            <td width="100%" class="column-header" style="background:#eee;text-transform:uppercase;padding:10px;font-size:11px;border-right:1px solid #eee;"><b>Product</b></td>
            <td class="column-header" style="background:#eee;text-transform:uppercase;padding:10px;font-size:11px;border-right:1px solid #eee;"><b>Unit Price</b></td>
            <td class="column-header" style="background:#eee;text-transform:uppercase;padding:10px;font-size:11px;border-right:1px solid #eee;"> <b>Discount</b></td>
            <td class="column-header" style="background:#eee;text-transform:uppercase;padding:10px;font-size:11px;border-right:1px solid #eee;"> <b>Qty</b></td>
            <td  class="column-header" style="background:#eee;text-transform:uppercase;padding:10px;font-size:11px;border-right:1px solid #eee;"><b> Net Amount</b></td>
            <td  class="column-header" style="background:#eee;text-transform:uppercase;padding:10px;font-size:11px;border-right:1px solid #eee;"> <b>HSN No</b></td>
            <td  class="column-header" style="background:#eee;text-transform:uppercase;padding:10px;font-size:11px;border-right:1px solid #eee;"> <b>Tax Rate</b></td>
            <td  class="column-header" style="background:#eee;text-transform:uppercase;padding:10px;font-size:11px;border-right:1px solid #eee;"> <b>Tax Type</b></td>
            <td  class="column-header" style="background:#eee;text-transform:uppercase;padding:10px;font-size:11px;border-right:1px solid #eee;"> <b>Tax Amount</b></td>
            <td  class="column-header" style="background:#eee;text-transform:uppercase;padding:10px;font-size:11px;border-right:1px solid #eee;"> <b>Net Tax Amount</b></td>
            <td  class="column-header" style="background:#eee;text-transform:uppercase;padding:10px;font-size:11px;border-right:1px solid #eee;"> <b>Total Amount</b></td>
          </tr>
          {% for product in products %}
          <tr>
            <td class="row" style="padding:0px; text-align:center; border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;">{{ forloop.counter }}</td>
            <td class="row" style="padding:5px 5px 10px 10px;border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;">{{ product.title }}</td>
            <td class="row" style="padding:5px;border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;">{{ currency }}{{ product.unit_price }} </td>
            <td class="row" style="padding:0px; text-align:center; border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;">{{ currency }}{{ product.discount }}</td>
            <td class="row" style="padding:0px; text-align:center; border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;">{{ product.qty }}</td>
            <td class="row" style="padding:5px; text-align:center;border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;">{{ currency }}{{ product.net_ammount }}</td>
            <td class="row" style="padding:5px;border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;">{{ product.hsn|safe }}</td>
            <td class="row" style="padding:0px; text-align:center; border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;">{{ product.tax_rate|safe }}</td>
            <td class="row" style="padding:0px; text-align:center; border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;">{{ product.tax_type|safe }}</td>
            <td class="row" style="padding:0px; text-align:center;border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;">{{ product.tax_amount|safe }}</td>
            <td class="row" style="padding:0px; text-align:center; border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;">{{ currency }}{{ product.net_tax_amount }}</td>
            <td class="row" style="padding:0px; text-align:center; border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;">{{ currency }}{{ product.total_amount }}</td>
          </tr>
          {% endfor %}
    <tr>
    <td class="row" style="padding:0px; text-align:center; padding:20px 0 0 0;  font-size:15px;"><strong>Total</strong></td>
            <td class="row"></td>
            <td class="row"></td>
            <td class="row"  style="text-align:center; font-weight:600;">{{ currency }}{{ total_discount }}</td>
            <td class="row"></td>
            <td class="row"></td>
            <td class="row"></td>
            <td class="row"></td>
            <td class="row"></td>
            <td class="row"></td>
            <td class="row"  style="text-align:center; font-weight:600;">{{ currency }}{{ total_tax_amount }}</td>
            <td class="row"  style="text-align:center; font-weight:600;">{{ currency }}{{ total_amount }}</td>
    </tr>
    
        </table><br>
        <table width="100%" style="background:#eee;padding:20px;">
          <tr>
            <td>
              <table width="300px" style="float:right">
                <tr>
                  <td><strong>Sub-total:</strong></td>
                  <td style="text-align:right">{{ currency }}{{ subtotal }}</td>
                </tr>  
                <tr>
                  <td><strong>Shipping fee:</strong></td>    
                  <td style="text-align:right">{{ currency }}{{ total_shipping }}</td>
                </tr>
                <tr>
                  <td><strong>Tax:</strong></td>    
                  <td style="text-align:right">{{ currency }}{{ total_tax_amount }}</td>
                </tr>
                <tr>
                  <td><strong>Discount:</strong></td>    
                  <td style="text-align:right">{{ currency }}{{ total_discount }}</td>
                </tr>
                <tr>
                  <td><strong>Grand total:</strong></td>    
                  <td style="text-align:right">{{ currency }}{{ total_amount }}</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <div class="alert" style="background: #3b476d;padding:20px;margin:20px 0;line-height:22px;color:#fff; text-align: center;">
          NOTE : This is computer generated receipt and does not require physical signature. <br>

          For any queries relating to billing, product, returns, please write us at info@flute.in	
        </div>
      </div><!-- container -->
</body>

</html>



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gabriela&display=swap" rel="stylesheet">
    <style>
        body{
            margin-top:20px;
            background:#eee;
        }

        .invoice {
            padding: 30px;
        }

        .invoice h2 {
            margin-top: 0px;
            line-height: 0.8em;
        }

        .invoice .small {
            font-weight: 300;
        }

        .invoice hr {
            margin-top: 10px;
            border-color: #ddd;
        }

        .invoice .table tr.line {
            border-bottom: 1px solid #ccc;
        }

        .invoice .table td {
            border: none;
        }

        .invoice .identity {
            margin-top: 10px;
            font-size: 1.1em;
            font-weight: 300;
        }

        .invoice .identity strong {
            font-weight: 600;
        }


        .grid {
            position: relative;
            width: 100%;
            background: #fff;
            color: #666666;
            border-radius: 2px;
            margin-bottom: 25px;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
        }
        thead > tr > td:nth-child(2) {
            width: max-content;
            min-width: 300px;
            max-width: 400px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="grid invoice">
                    <div class="grid-body">
                        <div class="invoice-title">
                            <div class="row">
                                <div class="col-xs-12" style="font-family: 'Gabriela', serif; font-size: 4rem;">
                                    PUNAM FLUTES
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>Invoice<br>
                                    <span class="small">order #{{ order_id }}</span></h2>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <a class="btn" onclick="printInvoice()" id="print">Print</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-6">
                                <address>
                                    <strong>Billed To:</strong><br>
                                    {{ billing_address.full_name|default:'' }} <br>
                                    {{ billing_address.street_address|default:'' }}<br>
                                    {{ billing_address.city|default:'' }}<br>
                                    {{ billing_address.state|default:'' }} {{ billing_address.postal_code|default:'' }} {{ billing_address.country|default:'' }}<br>
                                    <abbr title="Phone">P:</abbr> {{ billing_address.mobile_number|default:'' }} <br>
                                </address>
                            </div>
                            <div class="col-xs-6 text-right">
                                <address>
                                    <strong>Shipped To:</strong><br>
                                    {{ shipping_address.full_name|default:'' }} <br>
                                    {{ shipping_address.street_address|default:'' }}<br>
                                    {{ shipping_address.city|default:'' }}<br>
                                    {{ shipping_address.state|default:'' }} {{ shipping_address.postal_code|default:'' }} {{ shipping_address.country|default:'' }}<br>
                                    {% if shipping_address.mobile_number %}
                                    <abbr title="Phone">P:</abbr> {{ shipping_address.mobile_number }} <br>
                                    {% endif %}
                                    {% if state_code %}
                                    <strong>State/UT Code:</strong> {{ state_code }}
                                    {% endif %}
                                </address>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <address>
                                    <strong>PAN No:</strong> ANLPP2290D<br>
                                    <strong>GST Registeration No:</strong> 07ANLPP2290D1ZY<br>
                                </address>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>ORDER SUMMARY</h3>
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="line">
                                            <td><strong>#</strong></td>
                                            <td class="text-center"><strong>Product</strong></td>
                                            <td class="text-left"><strong>Unit Price</strong></td>
                                            <td class="text-left"><strong>Discount</strong></td>
                                            <td class="text-left"><strong>Qty</strong></td>
                                            <td class="text-left"><strong>Net Ammount</strong></td>
                                            <td class="text-left"><strong>HSN No</strong></td>
                                            <td class="text-left"><strong>Tax Rate</strong></td>
                                            <td class="text-left"><strong>Tax Type</strong></td>
                                            <td class="text-left"><strong>Tax Ammount</strong></td>
                                            <td class="text-left"><strong>Net Tax Ammount</strong></td>
                                            <td class="text-left"><strong>Total Ammount</strong></td>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for product in products %}
                                        <tr 
                                        {% if forloop.counter == products|length %}
                                            class="line"
                                        {% endif %}
                                        >
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ product.title }}</td>
                                            <td class="text-center">{{ product.unit_price }}</td>
                                            <td class="text-center">{{ currency }}{{ product.discount }}</td>
                                            <td class="text-center">{{ product.qty }}</td>
                                            <td class="text-center">{{ currency }}{{ product.net_ammount }}</td>
                                            <td class="text-center">{{ product.hsn|safe }}</td>
                                            <td class="text-center">{{ product.tax_rate|safe }}</td>
                                            <td class="text-center">{{ product.tax_type|safe }}</td>
                                            <td class="text-center">{{ product.tax_amount|safe }}</td>
                                            <td class="text-center">{{ currency }}{{ product.net_tax_amount }}</td>
                                            <td class="text-center">{{ currency }}{{ product.total_amount }}</td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td class="text-center"><strong>TOTAL</strong></td>
                                            <td colspan="2"></td>
                                            <td class="text-center"><strong>{{ currency }}{{ total_discount }}</strong></td>
                                            <td colspan="6"></td>
                                            <td class="text-center"><strong>{{ currency }}{{ total_tax_amount }}</strong></td>
                                            <td  class="text-center"> <strong>{{ currency }}{{ total_amount }}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>									
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right identity">
                                <strong>PUNAM FLUTES</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function printInvoice(e){
            document.getElementById('print').style.display = 'none';
            window.print();
            document.getElementById('print').style.display = 'inline-block';
        }
    </script>
    
</body>
</html> -->



<!-- <strong>Vendor :</strong><br>
Punam Flutes <br>
info@flute.in <br>
A 58, Jawahar Park Deoli Road Road Khanpur <br>
New Delhi, Delhi <br>
India, 110062 <br> -->