{% extends 'store/base.html' %}
{% load staticfiles %}
{% block content %}

<style>
    .loader {
        display:none; position:relative; left: 40%; top: 50%; z-index: 1; width: 120px;height: 120px; border: 16px solid #f3f3f3; border-radius: 50%; border-top: 16px solid #3498db; width: 120px; height: 120px; 
        animation: spin 2s linear infinite; -webkit-animation: spin 2s linear infinite; /* Safari */
    }
    .progress__bar {padding: 10px; margin-left: 20%; display: none;}
    .progress__bar ul{list-style: none; margin: 0px; padding: 0px; position: relative;}
    .progress__bar ul li{padding: 20px;padding-left: 60px; list-style-type: none;}
    .progress__bar ul::after{content: ''; position: absolute;display: block; width: 2px; height: 100%; background-color: #ddd; left: 35px; top: 0;}
    .progress__bar ul li .icon::before{content: ''; position: absolute; width: 15px; height: 15px; background-color: #ddd; border-radius: 50%; left: 7px; margin-top: 6px; z-index: 2;}
    .progress__bar ul li .icon{position: absolute; width: 30px; height: 30px; border-radius: 50%; border: 1px solid #ddd; left: 20px; margin-top: -5px; background-color: white; }
 

    #order_detail .container .card{border-radius: 5px; margin-bottom: 10px;}
    #order_detail .container .card .card-header li{list-style-type: none; display: inline-block; padding: 0px 15px 0px 15px;}
    #order_detail .container .card .card-body ul{list-style: none; padding: 0px;}
    #order_detail .container .card .card-body .order__detail li{list-style-type: none; margin: 5px; padding: 5px 15px 5px 15px; background-color: rgba(0,0,0,.03); text-align: center; border-radius: 3px; border: 1px solid black;}
    #order_detail .container .card .card-body .order__detail li a{text-decoration: none;}
    #order_detail .container .card .card-body .order__detail{max-height: 350px; overflow-y: scroll; position: relative;}
    
    /* Add Animation */
    @-webkit-keyframes slideIn {
        from {bottom: -300px; opacity: 0} 
        to {bottom: 0; opacity: 1}
    }
    
    @keyframes slideIn {
        from {bottom: -300px; opacity: 0}
        to {bottom: 0; opacity: 1}
    }
    
    @-webkit-keyframes fadeIn {
        from {opacity: 0} 
        to {opacity: 1}
    }
    
    @keyframes fadeIn {
        from {opacity: 0} 
        to {opacity: 1}
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>


<div class="modal fade" id="tracking__modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order Tracking <span></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="loader"></div>
                <div class="progress__bar">
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="pt-7 pb-12" id="order_detail">
    <!-- orders -->
    <div class="container">
        {% if order %}
        <h3>Your Order Details</h3>
        <div>
            {% if order.order_placed %}
                <b>Ordered at: </b>{{ order.order_placed |default:'-'}} |
            {% endif %}
            <b> Order No: </b>  {{ order.id }} 
            {% if order.status == 'Delivered' %}
            | <a href="{% url 'order_invoice' %}?order_id={{ order.id }}">Invoice</a>
            {% endif %}
         </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <b>Shipping Address</b> <br>
                        {{ order.shipping_address }}
                    </div>
                    <div class="col-12 col-md-3">
                        <b>Billing Address</b> <br>
                        {{ order.billing_address }}
                    </div>
                    <div class="col-12 col-md-3">
                        <b>Payment Method</b> <br>
                        {% if order.payment and order.payment.method %}
                            {% if order.payment.method == "COD" %}
                                {{ order.payment.method }} 
                            {% elif order.payment.method == "Other" %}
                                {{ order.payment.method }} {% if order.payment.method_name %} | {{ order.payment.method_name }} {% endif %}
                            {% else %}
                                Online
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-3">
                        <b>Order Summary</b> <br>
                        <ul>
                            <!-- <li>Subtotal: ₹198.00</li>
                            <li>Tax: {{ order.currency }}{{ totalTax }}</li>
                            <li>Shipping: {{ order.currency }}0</li>
                            <li>Coupon Discount: {{ order.currency }}0</li> -->
                            <li>Total: {% if order.currency %} {{ order.currency }} {% endif %}{{ order.total }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% if order.customization_request or order.coupon %}
            <hr>
            <div class="card-body">
                <div class="row">
                    {% if order.customization_request %}
                    <div class="col-12 col-md-6">
                        <b>Customization Request</b> <br>
                        {{ order.customization_request }}
                    </div>
                    {% endif %}
                    {% if order.coupon %}
                    <div class="col-12 col-md-6">
                        <b>Applied Coupon</b> <br>
                        {{ order.coupon }}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row order__detail">
                    <div class="col-12 col-md-8">
                        <h5>Order Status: {{ order.status }}</h5>
                        <div class="row">
                            {% if order.cart %}
                            {% for product in order.cart.product_detail.all %}
                            <div class="col-12 col-md-4 mb-5">
                                {% with images=product.product.images.all %}
                                <img class="card-img" src="{{ images.0.image.url }}" alt="Card image cap">
                                {% endwith %}
                            </div>
                            <div class="col-12 col-md-8 mb-5">
                                <a href="{% url 'category_product_detail' product_id=product.product.id slug=product.product.category.all.0.slug product_slug=product.product.slug %}">{{ product.product.title }}</a> <br>
                                {% if product.quantity %}
                                <span>Quantity: {{ product.quantity }}</span>
                                {% endif %}
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-4 side__bar">
                        <ul>
                            {% if order.courrierorder and order.courrierorder.tracking_number %}
                                {% if order.courrierorder.courrier == 'delivery' or order.courrierorder.courrier == 'Delivery'%}
                                    <li id="tracking" data-tracking_number="{{order.courrierorder.tracking_number}}" data-order_id="{{order.id}}">
                                        <a href="javascript:void(0)">Track Package</a>
                                    </li>
                                {% elif order.courrierorder.courrier == 'ecom' or  order.courrierorder.courrier == 'ECOM' %} 
                                    {% if order.courrierorder.courrier_booked_status %}
                                    <li id="tracking" data-tracking_number="{{order.courrierorder.tracking_number}}" data-order_id="{{order.id}}">
                                        <a href="javascript:void(0)">Track Package</a>
                                    </li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if order.status == 'Pending' or order.status == 'Confirmed' or order.status == 'Paid' %}
                                <li>
                                    <a href="{% url 'order_cancel' %}?id={{ order.id }}">Cancel Order</a>
                                </li>
                            {% endif %}
                            <li>
                                <b>Payment Method: </b> 
                                {% if order.payment and order.payment.method %}
                                    {% if order.payment.method == "COD" %}
                                        {{ order.payment.method }} 
                                    {% elif order.payment.method == "Other" %}
                                        {{ order.payment.method }} {% if order.payment.method_name %} | {{ order.payment.method_name }} {% endif %}
                                    {% else %}
                                        Online
                                    {% endif %}
                                {% endif %}
                            </li>
                            <li>
                                <b>Payment Status: </b> 
                                {% if order.payment and order.payment.status %}
                                    Done
                                {% else %}
                                    Not Done
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}
{% block script %}
<script>
    
    $('#tracking').click(function(){
        let str = ' ID: ' + $(this).data('tracking_number');
        $('#tracking__modal .modal-title span').html(str);
        $('#tracking__modal').modal("show");
        loadTracking($(this).data('order_id'));
    });

    $('#tracking__modal').on('hidden.bs.modal', function () {
        $('.progress__bar').hide();
    });

    function loadTracking(orderId){
        $('.loader').show();
        $.ajax({
            url: "{% url 'track_courrier_order' %}",
            data: {
                "order_id": orderId
            },
            dataType: 'JSON',
            success: function(data){
                if(data.message == "success"){
                    if(data.courrier && data.courrier=="delhivery"){
                        trackingDetail = data.resp.ShipmentData[0].Shipment;
                        var str =' ID: ' + data.tracking_number;
                        str += '; ' + data.courrier;
                        $('#tracking__modal .modal-title span').html(str);
                        updateTrackingData(data.courrier);
                    }else if(data.courrier && data.courrier=="ecom"){
                        trackingDetail = data.resp;
                        var str =' ID: ' + data.tracking_number;
                        str += '; ' + data.courrier;
                        $('#tracking__modal .modal-title span').html(str);
                        updateTrackingData(data.courrier);
                    }
                }
            }
        });
    }

    function updateTrackingData(courrier){
        var str = ``;
    
        if(courrier=="delhivery"){
            trackingDetail.Scans.slice().reverse().forEach(scan => {
                let scanDetail = scan.ScanDetail
                str += `<li><div class="icon"></div>`;
                str+= `<div> <b>` + scanDetail.Instructions + `</b> <br>` + scanDetail.ScannedLocation +`<br><div style="color:darkslategrey">` + scanDetail.StatusDateTime + `</div></div>`;
                str+= `</li>`;
            });
        }else if(courrier=="ecom"){
            trackingDetail.forEach(scan => {
                str += `<li><div class="icon"></div>`;
                str+= `<div> <b>` + scan.status + `</b> <br>` + scan.location_city +`<br><div style="color:darkslategrey">` + scan.date + `</div></div>`;
                str+= `</li>`;
            });
        }
    
        $('.progress__bar ul').html(str);
        $('.loader').hide();
        $('.progress__bar').show();
    }
</script>
{% endblock %}
