{% extends 'store/base.html' %}
{% load staticfiles %}
{% block content %}

<style>
    .loader {
        display:none; position:relative; left: 40%; top: 50%; z-index: 1; width: 120px;height: 120px; border: 16px solid #f3f3f3; border-radius: 50%; border-top: 16px solid #3498db; width: 120px; height: 120px; 
        animation: spin 2s linear infinite; -webkit-animation: spin 2s linear infinite; /* Safari */
    }
    .progress__bar {padding: 10px; margin-left: 20%; display: none;}
    .progress__bar ul{list-style: none; margin: 0px; padding: 0px; position: relative;}
    .progress__bar ul li{padding: 20px;padding-left: 60px; list-style-type: none;}
    .progress__bar ul::after{content: ''; position: absolute;display: block; width: 2px; height: 100%; background-color: #ddd; left: 35px; top: 0;}
    .progress__bar ul li .icon::before{content: ''; position: absolute; width: 15px; height: 15px; background-color: #ddd; border-radius: 50%; left: 7px; margin-top: 6px; z-index: 2;}
    .progress__bar ul li .icon{position: absolute; width: 30px; height: 30px; border-radius: 50%; border: 1px solid #ddd; left: 20px; margin-top: -5px; background-color: white; }
 
    #order .card{margin-bottom: 10px;}
    #order .container .card{border-radius: 5px;}
    #order .container .card .card-header li{list-style-type: none; display: inline-block; padding: 0px 15px 0px 15px;}
    #order .container .card .card-body li{list-style-type: none; margin: 5px; padding: 5px 15px 5px 15px; background-color: rgba(0,0,0,.03); text-align: center; border-radius: 3px; border: 1px solid black;}
    #order .container .card .card-body li a{text-decoration: none;}
    
    /* Add Animation */
    @-webkit-keyframes slideIn {
        from {bottom: -300px; opacity: 0} 
        to {bottom: 0; opacity: 1}
    }
    
    @keyframes slideIn {
        from {bottom: -300px; opacity: 0}
        to {bottom: 0; opacity: 1}
    }
    
    @-webkit-keyframes fadeIn {
        from {opacity: 0} 
        to {opacity: 1}
    }
    
    @keyframes fadeIn {
        from {opacity: 0} 
        to {opacity: 1}
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>


<div class="modal fade" id="tracking__modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order Tracking <span></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="courrier"> Delhivery </div>
                <div class="loader"></div>
                <div class="progress__bar">
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="pt-7 pb-12" id="order">
    <!-- orders -->
    <div class="container">
        <h3>Your Order</h3>
        {% for order in orders%}
        <div class="card shadow shadow-hover lift">
            <div class="card-header">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <ul>
                            <li> <b> Order Placed </b> <br> {{ order.order_placed |default:'-'}}</li>
                            <li> <b> Total </b> <br> {% if order.currency %} {{ order.currency }} {% endif %} {{ order.total }}</li>
                            <li> <b> Ship To </b> <br> <a href="{% url 'customer_address' %}?address_type=shipping">{{ order.shipping_address.full_name }}</a></li>
                        </ul>
                    </div>
                    <div class="col col-sm-6"  style="text-align: center;">
                        <ul>
                            <li> <b>Order No: </b> {{ order.id }} <br>
                            <a href="{% url 'order_detail' order_id=order.id %}">Order Detail</a>
                            {% if order.status == 'Delivered' %}
                                | <a href="{% url 'order_invoice' %}?order_id={{ order.id }}">Invoice</a>
                            {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <h5>Order Status: {{ order.status }}</h5>
                        <div class="row">
                            {% if order.cart %}
                            {% with product=order.cart.product_detail.all.0 %}
                            <div class="col-12 col-md-4">
                                {% with images=product.product.images.all %}
                                <img class="card-img" src="{{ images.0.image.url }}" alt="Card image cap">
                                {% endwith %}
                            </div>
                            <div class="col-12 col-md-8">
                                <a href="{% url 'category_product_detail' product_id=product.product.id slug=product.product.category.all.0.slug product_slug=product.product.slug %}">{{ product.product.title }}</a> <br>
                                {% if product.quantity %}
                                <span>Quantity: {{ product.quantity }}</span>
                                {% endif %}
                                <br>
                                <br>
                                <br>
                                <a href="{% url 'order_detail' order_id=order.id %}"> Order Detail...</a>
                            </div>
                            {% endwith %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <ul>
                            {% if order.courrierorder and order.courrierorder.tracking_number %}
                            <li id="tracking" data-tracking_number="{{order.courrierorder.tracking_number}}">
                                <a href="javascript:void(0)">Track Package</a>
                            </li>
                            {% endif %}
                            {% if order.status == 'Pending' or order.status == 'Confirmed' or order.status == 'Paid' %}
                                <li>
                                    <a href="{% url 'order_cancel' %}?id={{ order.id }}">Cancel Order</a>
                                </li>
                            {% endif %}
                            <li>
                                <b>Payment Method: </b> 
                                {% if order.payment and order.payment.method %}
                                    {% if order.payment.method == "COD" %}
                                        {{ order.payment.method }} 
                                    {% elif order.payment.method == "Other" %}
                                        {{ order.payment.method }} {% if order.payment.method_name %} | {{ order.payment.method_name }} {% endif %}
                                    {% else %}
                                        Online
                                    {% endif %}
                                {% endif %}
                            </li>
                            <li>
                                <b>Payment Status: </b> 
                                {% if order.payment and order.payment.status %}
                                    Done
                                {% else %}
                                    Not Done
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    <!-- Pagination -->
    <nav class="d-flex justify-content-center">
        {% if orders.has_other_pages %}
        <ul class="pagination justify-content-center">
        
            {% if orders.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ orders.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
    `       <li class="page-item">
                <a class="page-link disabled" href="#">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for i in orders.paginator.page_range %}
                {% if orders.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if orders.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ orders.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link disabled" href="#">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        {% endif %}
        </ul>
    </nav>

</section>

{% endblock %}
{% block script %}
<script>
    
    $('#tracking').click(function(){
        let str = ' ID: ' + $(this).data('tracking_number');
        $('#tracking__modal .modal-title span').html(str);
        $('#tracking__modal').modal("show");
        loadTracking($(this).data('tracking_number'));
    });

    $('#tracking__modal').on('hidden.bs.modal', function () {
        $('.progress__bar').hide();
    });

    function loadTracking(tracking_number){
        $('.loader').show();
        $.ajax({
            url: "{% url 'track_courrier_order' %}",
            data: {
                "tracking_number": tracking_number
            },
            dataType: 'JSON',
            success: function(data){
                if(data.message == "success"){
                console.log(data);
                trackingDetail = data.resp.ShipmentData[0].Shipment;
                updateTrackingData();
                }
            }
        });
    }

    function updateTrackingData(){
        var str = ``;
    
        trackingDetail.Scans.slice().reverse().forEach(scan => {
        let scanDetail = scan.ScanDetail
        str += `<li><div class="icon"></div>`;
        str+= `<div> <b>` + scanDetail.Instructions + `</b> <br>` + scanDetail.ScannedLocation +`<br><div style="color:darkslategrey">` + scanDetail.StatusDateTime + `</div></div>`;
        str+= `</li>`;
        });
    
        $('.progress__bar ul').html(str);
        $('.loader').hide();
        $('.progress__bar').show();
    }
</script>
{% endblock %}
