{% extends 'store/base.html' %}
{% load staticfiles %}
{% block content %}
<style>
  body{background-color: #fff;}
</style>

<!-- BREADCRUMB -->
<nav class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Breadcrumb -->
        <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
          <li class="breadcrumb-item">
            <a class="text-gray-400" href="{% url 'dashboard' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a class="text-gray-400" href="{% url 'product_list' category_id=category.id %}">{{ category.display_name }}</a>
          </li>
          <li class="breadcrumb-item active">
            {{product.title}}
          </li>
        </ol>

      </div>
    </div>
  </div>
</nav>

<!-- PRODUCT -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-6">

            <!-- Images -->
            <div class="form-row mb-10 mb-md-0">
              <div class="col-2">

                <!-- Slider -->
                <div class="flickity-nav flickity-vertical"
                  data-flickity='{"asNavFor": "#productSlider", "draggable": false}'>

                  {% for image in product.images.all%}
                    <div class="embed-responsive embed-responsive-1by1 bg-cover mb-4"
                      style="background-image: url({{ image.image.url }});">
                    </div>
                  {% endfor %}
                </div>

              </div>
              <div class="col-10">

                <!-- Card -->
                <div class="card">

                  <!-- Badge -->
                    <!-- <div class="badge badge-secondary card-badge card-badge-right text-uppercase">
                      Out of Stock
                    </div>  -->

                  <!-- Slider -->
                  <div data-flickity='{"draggable": false, "fade": true}' id="productSlider">

                    {% for image in product.images.all%}
                      <!-- Item -->
                      <a href="{{ image.image.url }}" data-fancybox>
                        <img src="{{ image.image.url }}" alt="..." class="card-img-top">
                      </a>
                    {% endfor %}
                  </div>

                </div>

              </div>
            </div>

          </div>
          <div class="col-12 col-md-6 pl-lg-10">

            <!-- Header -->
            <div class="row mb-1">
              <div class="col">

                <!-- Preheading -->
                <a class="text-muted" href="!#">{{category}}</a>

              </div>
            </div>

            <!-- Heading -->
            <h3 class="mb-2">{{product.title}}</h3>

            <!-- Price -->
            <div class="mb-7 text-gray-400">
              <span class="ml-1 font-size-h5 font-weight-bold" id="product_price">
                <span class="font-size-xs text-gray-350 text-decoration-line-through">{{ currency_symbol }} {{ mrp }}</span>
                <span class="text-primary">{{ currency_symbol }} {{ price }}</span>
              </span>
            </div>

            <div class="mb-8 ml-n1">
              <div class="custom-control custom-control-inline custom-control-img">
                <input type="radio" class="custom-control-input" id="imgRadioOne" name="imgRadio"
                  data-toggle="form-caption" data-target="#colorCaption" value="White" checked>
                <label class="custom-control-label" for="imgRadioOne">
                  {% for image in product.images.all%}
                    {% if forloop.counter <= 1 %}
                      <span class="embed-responsive embed-responsive-1by1 bg-cover"
                        style="background-image: url({{ image.image.url }});">
                      </span>
                    {% endif%}
                  {% endfor %}
                </label>
              </div>
            </div>
            <form action="{% url 'add_to_cart' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                

                {% if product.inventory and product.inventory.type == "limited" and product.inventory.available == 0 %}
                  <div class="col-12 col-lg-auto font-weight-bold text-center" style="background-color: brown; padding: 0.5rem; margin: .5rem;">
                    <span> Out of stock</span>
                  </div>
                  
                {% elif product.inventory and product.inventory.type == "limited" and product.inventory.available < 5 %}
                  <div class="col-12 col-lg-auto font-weight-bold text-danger" style="padding: 0.5rem; margin: .5rem;">
                    <span> Only {{ product.inventory.available }} available</span>
                  </div>

                  <div class="form-row mb-7">
                    <div class="col-12 col-lg-auto">

                      <!-- Submit -->
                      <select class="custom-select custom-select-xl w-auto " name="quantity">
                        {% for  _ in ''|center:product.inventory.available %}
                          <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                        {% endfor %}
                      </select>
  
  
                    </div>
                    <div class="col-12 col-lg-auto">
                    
                      <input type="hidden" name="product_id" value="{{ product.id}}">
                      <!-- Wishlist -->
                      <button type="submit" class="btn btn-outline-dark btn-block mb-2" data-toggle="button">
                        Add to cart <i class="fe fe-shopping-cart"></i>
                      </button>
  
                    </div>
                  </div>

                {% else %}
                  <div class="form-row mb-7">
                    <div class="col-12 col-lg-auto">

                      <!-- Submit -->
                      <select class="custom-select custom-select-xl w-auto " name="quantity">
                        {% for  i in range %}
                          <option value="{{ i}}">{{ i }}</option>
                        {% endfor %}
                      </select>


                    </div>
                    <div class="col-12 col-lg-auto">
                    
                      <input type="hidden" name="product_id" value="{{ product.id}}">
                      <!-- Wishlist -->
                      <button type="submit" class="btn btn-outline-dark btn-block mb-2" data-toggle="button">
                        Add to cart <i class="fe fe-shopping-cart"></i>
                      </button>

                    </div>

                  </div>
                {% endif %}

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- DESCRIPTION -->
<section class="pt-11">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Nav -->
        <div class="nav nav-tabs nav-overflow justify-content-start justify-content-md-center border-bottom">
          <a class="nav-link active" data-toggle="tab" href="#descriptionTab">
            Description
          </a>        
        </div>

        <!-- Content -->
        <div class="tab-content">
          <div class="tab-pane fade show active" id="descriptionTab">
            <div class="row justify-content-center py-9">
              <div class="col-12 col-lg-10 col-xl-8">
                <div class="row">
                  <div class="col-12">

                      {{product.description|safe}}

                  </div>
                </div>
              </div>
            </div>
          </div>         
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block script %}
<script>

$(document).ready(()=>{
  if($('#modal__cart').val()=="True"){
    $('#modalShoppingCart').modal("show");
  }
});
</script>

{% endblock %}