{% extends 'store/base.html' %}
{% load staticfiles %}
{% block content %}

<style>
  body{background-color: #fff;}
  #product__filter a{
    color: black;
  }
  .content{display: grid; grid-template-columns: 1fr 7fr; grid-column-gap: 2rem; position: relative;}
  .content .filter{position: sticky; top: 10px; align-self: start;}
  .content .product .product-search{position: static; top: 0; align-self: start; z-index: 1;}
  .content .product .product-search .search-bar{position: relative; width: 70%; margin: 0 auto 0 auto; transition: all 0.8s ease;}
  .content .product .product-search .search-bar form input[type="search"]{padding: 10px; width: 100%; z-index: 2; border: 2px solid #1a1f30; outline-offset: 0px; border-radius: 5px;}
  .content .product .product-search .search-bar form button[type="submit"]{padding: 10px 0 10px 0; position: absolute; right: 0px; width: 10%; border: 2px solid #1a1f30; border-top-right-radius: 5px; border-bottom-right-radius: 5px; background-color: #6b80c5; color: #fff;}
  /* .content .product .product-search .search-bar:hover{width: 100%;} */

  /* For mobile or tab */
  @media only screen and (max-width: 766px) {
    #product__filter{display: none;}
    #mob__product__filter{display: block;}
    .content{grid-template-columns: 0fr 1fr;}
  }

  /* For big screen */
  @media screen and (min-width: 766px) {
    #mob__product__filter{display: none;}
  }
</style>

<!-- Product Detail Modal -->
<div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">

      <!-- Close -->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="fe fe-x" aria-hidden="true"></i>
      </button>

      <!-- Content -->
      <div class="container-fluid px-xl-0">
        <div class="row align-items-center mx-xl-0">
          <div class="col-12 col-lg-6 col-xl-5 py-4 py-xl-0 px-xl-0">

            <!-- Image -->
            <img class="img-fluid" id="modalProduct-image" src="!#" alt="...">

            <!-- Button -->
            <a class="btn btn-sm btn-block btn-primary" id="modalProduct-info" href="!#">
              More Product Info <i class="fe fe-info ml-2"></i>
            </a>

          </div>
          <div class="col-12 col-lg-6 col-xl-7 py-9 px-md-9">

            <!-- Heading -->
            <h4 class="mb-3" id="modalProduct-title"></h4>

            <!-- Price -->
            <div class="mb-7">
              <span class="h5" id="modalProduct-price"></span>
              <!-- <span class="font-size-sm">(In Stock)</span> -->
            </div>

            <!-- Form -->
            <form action="{% url 'add_to_cart' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="form-group mb-0">
                <div class="form-row">
                  <div class="col-12 col-lg-auto">

                    <!-- Quantity -->
                    <select class="custom-select mb-2" name="quantity">
                      {% for i in range %}
                        <option value="{{ i }}">{{ i }}</option>
                      {% endfor %}
                    </select>

                  </div>
                  <div class="col-12 col-lg">

                    <input type="hidden" name="product_id" id="modalProduct-id" value="">
                    <!-- Submit -->
                    <button type="submit" class="btn btn-block btn-info mb-2">
                      Add to Cart <i class="fe fe-shopping-cart ml-2"></i>
                    </button>

                  </div>
                  <div class="col-12 col-lg-auto">

                    <!-- Wishlist -->
                    <!-- <button class="btn btn-outline-dark btn-block mb-2" data-toggle="button">
                      Wishlist <i class="fe fe-heart ml-2"></i>
                    </button> -->

                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<section class="pt-7">
  <div class="container">
    <div class="content">
      <div class="filter">
        <div id="product__filter">

          <!-- Filters -->
          <form class="mb-10 mb-md-0">
            <ul class="nav nav-vertical" id="filterNav">
              <li class="nav-item">
  
                <!-- Toggle -->
                <a class="nav-link dropdown-toggle font-size-lg text-reset border-bottom mb-6" data-toggle="collapse"
                  href="#categoryCollapse">
                  Products
                </a>
  
                <!-- Collapse -->
                <div class="collapse show" id="categoryCollapse">
                  <div class="form-group">
                    <ul class="list-styled mb-0" id="productsNav">
                      <li class="list-styled-item">
                        {% for cat in categories %}
                        <div class="custom-control custom-checkbox mb-3">
                            <a href="{% url 'category_product_list' slug=cat.slug %}">{{cat.display_name}}</a>
                        </div>
                        {% endfor %}
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </form>
  
        </div>
      </div>
      <div class="product">
        <!-- search -->
        <div class="product-search">
            <div class="search-bar text-center">
              <form action="">
                <input class="" type="search" name="q" value="{{search}}" placeholder="Search Product...">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </div>
        </div>        

        <!-- Header -->
        <div class="row align-items-center mb-7">
        {% if search == '' %}
          <div class="col-12 col-md">
            <!-- Heading -->
            <h3 class="mb-1">{{ category.display_name }} </h3>

            <!-- Breadcrumb -->
            <ol class="breadcrumb mb-md-0 font-size-xs text-gray-400">
              <li class="breadcrumb-item">
                <a class="text-gray-400" href="{% url 'dashboard' %}">Home</a>
              </li>
              <li class="breadcrumb-item active">
                <a class="text-gray-400" href="{% url 'product_list' category_id=category.id %}">{{ category.display_name }} </a>
                
              </li>
            </ol>
          </div>
        {% endif %}
        {% if search != '' and not_found %}
        <div class="col-12 col-md">
          <!-- Heading -->
          <h5 class="m-3 text-center">{{ search }} not found. You make like the below product 👏 </h5>
        </div>
        {% endif %}
        </div>

        <!-- Products -->
        
        <div class="row">
          {% for product in products %}
          <div class="col-6 col-md-3">

            <!-- Card -->
            <div class="card mb-7">

              <!-- Image -->
              <div class="card-img">

                <!-- Image -->
                <a class="card-img-hover" href="{% url 'category_product_detail' product_id=product.id slug=category.slug product_slug=product.slug %}">
                  <img class="card-img-top card-img-back" src="{{ product.images.all.0.image.url }}" alt="...">
                  <img class="card-img-top card-img-front" src="{{ product.images.all.1.image.url }}" alt="...">
                </a>

                <!-- Actions -->
                <div class="card-actions">
                  <span class="card-action">
                    <button class="btn btn-xs btn-circle" onclick="viewProduct(this)"
                      data-id="{{product.id}}"  
                      data-title="{{product.title}}"
                      data-currency="{{currency_symbol}}"
                      data-price="{{product.price}}"
                      data-image="{{product.images.all.0.image.url}}"
                      data-slug="{{product.slug}}"
                    >
                      <i class="fe fe-eye"></i>
                    </button>
                  </span>
                  <span class="card-action">
                    <button class="btn btn-xs btn-circle" onclick="AddToCart(this)"
                      data-id="{{product.id}}"
                      data-quantity="1"
                    >
                      <i class="fe fe-shopping-cart"></i>
                    </button>
                  </span>
                  <!-- <span class="card-action">
                    <button class="btn btn-xs btn-circle" data-toggle="button">
                      <i class="fe fe-heart"></i>
                    </button>
                  </span> -->
                </div>

              </div>

              <!-- Body -->
              <div class="card-body px-0 text-center">

                <!-- Category -->
                <div class="font-size-xs">
                  <p class="text-muted">{{product.search_tags}}</p>
                </div>

                <a href="{% url 'category_product_detail' product_id=product.id slug=category.slug product_slug=product.slug %}" style="color: black;">
                  <!-- Title -->
                  <div class="font-weight-bold">
                    <p class="text-body">{{product.title}}</p>
                  </div>
                </a>

                <!-- Price -->
                <div class="font-weight-bold text-muted">
                  <span class="font-size-xs text-gray-350 text-decoration-line-through">{{ currency_symbol }} {{ product.mrp }}</span>
                  <span class="text-primary">{{ currency_symbol }} {{ product.price }}</span>
                </div>

                {% if product.inventory and product.inventory.type == "limited" and product.inventory.available == 0 %}
                    <div class="font-weight-bold text-center" style="background-color: brown; padding: 0.5rem; margin: .5rem;">
                      <span> Out of stock</span>
                    </div>
                {% elif product.inventory and product.inventory.type == "limited" and product.inventory.available < 5 %}
                    <div class="col-12 col-lg-auto font-weight-bold text-danger" style="padding: 0.5rem; margin: .5rem;">
                      <span> Only {{ product.inventory.available }} available</span>
                    </div>
                    <!-- Actions -->
                    <div>
                      <button class="btn btn-xs btn-circle" onclick="viewProduct(this)"
                        data-id="{{product.id}}"  
                        data-title="{{product.title}}"
                        data-currency="{{currency_symbol}}"
                        data-price="{{product.price}}"
                        data-image="{{product.images.all.0.image.url}}"
                        data-slug="{{product.slug}}"
                      >
                        <i class="fe fe-eye"></i>
                      </button>
                      <select class="custom-select custom-select-xxs w-auto" id="quantity__product__list__{{product.id}}">
                        {% for  _ in ''|center:product.inventory.available %}
                          <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                        {% endfor %}
                      </select>
                      <button class="btn btn-xs btn-circle" onclick="AddToCart(this)"
                          data-id="{{product.id}}"
                          data-quantity="1"
                        >
                        <i class="fe fe-shopping-cart"></i>
                      </button>
                    </div>

                {% else %}

                <!-- Actions -->
                <div>
                  <button class="btn btn-xs btn-circle" onclick="viewProduct(this)"
                    data-id="{{product.id}}"  
                    data-title="{{product.title}}"
                    data-currency="{{currency_symbol}}"
                    data-price="{{product.price}}"
                    data-image="{{product.images.all.0.image.url}}"
                    data-slug="{{product.slug}}"
                  >
                    <i class="fe fe-eye"></i>
                  </button>
                  <select class="custom-select custom-select-xxs w-auto" id="quantity__product__list__{{product.id}}">
                    {% for i in range %}
                      <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                  </select>
                  <button class="btn btn-xs btn-circle" onclick="AddToCart(this)"
                      data-id="{{product.id}}"
                      data-quantity="1"
                    >
                    <i class="fe fe-shopping-cart"></i>
                  </button>
                </div>
                
                {% endif %}

              </div>

            </div>

          </div>
          {% endfor %}
      </div>
    </div>
  </div>


  <!-- Pagination -->
  <nav class="d-flex justify-content-center justify-content-md-end">
    {% if products.has_other_pages %}
    <ul class="pagination justify-content-center">
    
        {% if products.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ products.previous_page_number }}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% else %}
`       <li class="page-item disabled">
            <a class="page-link" href="#">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        {% for i in products.paginator.page_range %}
            {% if products.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if products.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ products.next_page_number }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    {% endif %}
    </ul>
  </nav>

  <div class="row py-10" id="mob__product__filter">
    <div class="col align-self-center">

      <!-- Filters -->
      <form class="mb-10 mb-md-0">
        <ul class="nav nav-vertical">
          <li class="nav-item">

            <!-- Toggle -->
            <a class="nav-link dropdown-toggle font-size-lg text-reset border-bottom mb-6" data-toggle="collapse"
              href="#mob__categoryCollapse">
              Products
            </a>

            <!-- Collapse -->
            <div class="collapse show" id="mob__categoryCollapse">
              <div class="form-group">
                <ul class="list-styled mb-0">
                  <li class="list-styled-item">
                    {% for cat in categories %}
                    <div class="custom-control custom-checkbox mb-3">
                        <a href="{% url 'product_list' category_id=cat.id %}">{{cat.display_name}}</a>
                    </div>
                    {% endfor %}
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </form>

    </div>
  </div>
</section>


{% endblock %}

{% block script %}
<script>
$(document).ready(()=>{
  $('#modalProduct').on('shown.bs.modal', function (e) {
    // alert("d");
  })
  if($('#modal__cart').val()=="True"){
    $('#modalShoppingCart').modal("show");
  }
});

function viewProduct(e){
  let productId = $(e).data('id');
  let productTitle = $(e).data('title');
  let productPrice = $(e).data('price');
  let productCurrency = $(e).data('currency');
  let productImage = $(e).data('image');
  let productSlug = $(e).data('slug');

  $('#modalProduct-image').prop('src',productImage);
  $('#modalProduct-info').prop('href', "{% url 'category_product_detail' slug=category.slug product_id=0 product_slug=1 %}".replace('0', productId).replace('1', productSlug));
  $('#modalProduct-title').html(productTitle);
  $('#modalProduct-price').html(productCurrency+productPrice)
  $('#modalProduct-id').val(productId);


  $('#modalProduct').modal("toggle");
}

function AddToCart(e){
  let productId = $(e).data('id');
  let productQuantity =$("#quantity__product__list__"+productId).val();

  $.ajax({
    url: "{% url 'add_to_cart' %}",
    method: 'post',
    data: {
      "quantity": productQuantity,
      "product_id": productId,
      csrfmiddlewaretoken: '{{ csrf_token }}',
    },
    dataType: 'JSON',
    success: function(data){
      // console.log('added to cart');
    }
  })
  window.location.reload();
}

</script>
{% endblock %}