{% extends 'store/base.html' %}
{% load staticfiles %}
{% block content %}
 <!-- BREADCRUMB -->
 <nav class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Breadcrumb -->
          <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
            <li class="breadcrumb-item">
              <a class="text-gray-400" href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active">
              Shopping Cart------------satya---

            </li>
          </ol>

        </div>
      </div>
    </div>
  </nav>

  <!-- CONTENT -->
  <section class="pt-7 pb-12">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Heading -->
          <h3 class="mb-10 text-center">Shopping Cart</h3>

        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-7">

          <!-- List group -->
          <ul class="list-group list-group-lg list-group-flush-x mb-6">
          {% for product in cart.product.all %}
            <li class="list-group-item">
              <div class="row align-items-center">
                <div class="col-3">

                  <!-- Image -->
                  <a href="product.html">
                    <img src="{{ product.images.all.0.image.url }}" alt="..." class="img-fluid">
                  </a>

                </div>
                <div class="col">

                  <!-- Title -->
                  <div class="d-flex mb-2 font-weight-bold">
                    <a class="text-body" href="product.html">{{ product.title }}</a> <span class="ml-auto" id="product_price{{forloop.counter}}" data-total="40">$40.00</span>
                  </div>

                  <!-- Text -->
                  <p class="mb-7 font-size-sm text-muted">
                    Size: M <br>
                    Color: Red
                  </p>

                  <!--Footer -->
                  <div class="d-flex align-items-center">

                    <!-- Select -->
                    <select class="custom-select custom-select-xxs w-auto" name="quantity" id="{{ forloop.counter }}" data-price="10">
                      {% for i in '1234567890'|make_list %}
                        <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                      {% endfor %}
                    </select>

                    <!-- Remove -->
                    <a class="font-size-xs text-gray-400 ml-auto" href="javascript:void(null)" onclick="removeProductFromCart(this,'{{ product.id }}', '{{ cart.id }}')">
                      <i class="fe fe-x"></i> Remove
                    </a>

                  </div>

                </div>
              </div>
            </li>
          {% endfor %}
          </ul>

          <!-- Footer -->
          <div class="row align-items-end justify-content-between mb-10 mb-md-0">
            <div class="col-12 col-md-7">

              <!-- Coupon -->
              <form class="mb-7 mb-md-0">
                <label class="font-size-sm font-weight-bold" for="cartCouponCode">
                  Coupon code:
                </label>
                <div class="row form-row">
                  <div class="col">

                    <!-- Input -->
                    <input class="form-control form-control-sm" id="cartCouponCode" type="text" placeholder="Enter coupon code*">

                  </div>
                  <div class="col-auto">

                    <!-- Button -->
                    <button class="btn btn-sm btn-dark" type="submit">
                      Apply
                    </button>

                  </div>
                </div>
              </form>

            </div>
            <div class="col-12 col-md-auto">

              <!-- Button -->
              <button class="btn btn-sm btn-outline-dark">Update Cart</button>

            </div>
          </div>

        </div>
        <div class="col-12 col-md-5 col-lg-4 offset-lg-1">

          <!-- Total -->
          <div class="card mb-7 bg-light">
            <div class="card-body">
              <ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
                <li class="list-group-item d-flex">
                  <span>Subtotal</span> <span class="ml-auto font-size-sm" id="subtotal" data-subtotal="0">$0</span>
                </li>
                <li class="list-group-item d-flex">
                  <span>Tax</span> <span class="ml-auto font-size-sm">$00.00</span>
                </li>
                <li class="list-group-item d-flex font-size-lg font-weight-bold">
                  <span>Total</span> <span class="ml-auto font-size-sm" id="total" data-subtotal="0">$0</span>
                </li>
                <li class="list-group-item font-size-sm text-center text-gray-500">
                  Shipping cost calculated at Checkout *
                </li>
              </ul>
            </div>
          </div>

          <!-- Button -->
          <a class="btn btn-block btn-dark mb-2" href="{% url 'checkout'%}">Proceed to Checkout</a>

          <!-- Link -->
          <a class="btn btn-link btn-sm px-0 text-body" href="shop.html">
            <i class="fe fe-arrow-left mr-2"></i> Continue Shopping
          </a>

        </div>
      </div>
    </div>
  </section>

  <!-- FEATURES -->
  <section class="bg-light py-9">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex mb-6 mb-lg-0">

            <!-- Icon -->
            <i class="fe fe-truck font-size-lg text-primary"></i>

            <!-- Body -->
            <div class="ml-6">

              <!-- Heading -->
              <h6 class="heading-xxs mb-1">
                Free shipping
              </h6>

              <!-- Text -->
              <p class="mb-0 font-size-sm text-muted">
                From all orders over $100
              </p>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex mb-6 mb-lg-0">

            <!-- Icon -->
            <i class="fe fe-repeat font-size-lg text-primary"></i>

            <!-- Body -->
            <div class="ml-6">

              <!-- Heading -->
              <h6 class="mb-1 heading-xxs">
                Free returns
              </h6>

              <!-- Text -->
              <p class="mb-0 font-size-sm text-muted">
                Return money within 30 days
              </p>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex mb-6 mb-md-0">

            <!-- Icon -->
            <i class="fe fe-lock font-size-lg text-primary"></i>

            <!-- Body -->
            <div class="ml-6">

              <!-- Heading -->
              <h6 class="mb-1 heading-xxs">
                Secure shopping
              </h6>

              <!-- Text -->
              <p class="mb-0 font-size-sm text-muted">
                You're in safe hands
              </p>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex">

            <!-- Icon -->
            <i class="fe fe-tag font-size-lg text-primary"></i>

            <!-- Body -->
            <div class="ml-6">

              <!-- Heading -->
              <h6 class="mb-1 heading-xxs">
                Over 10,000 Styles
              </h6>

              <!-- Text -->
              <p class="mb-0 font-size-sm text-muted">
                We have everything you need
              </p>

            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block script %}
<script>

$(document).ready(()=>{
  updateSubTotal();
});

function removeProductFromCart(e,product_id, cart_id){
  $.ajax({
        url: "{% url 'remove_from_cart' %}",
        type: 'GET',
        dataType: 'json', 
        data: {
          'product_id': product_id,
          'cart_id': cart_id
        },
        success: function(res) {
            if(res.message=='success'){
              $(e).closest('.list-group-item').hide()
            }
        }
  });
}

function updateSubTotal(){
  let currency = '$';

  let Subtotal = 0;
  let tex = 0;
  $("[id*=product_price]").each(function(){
      Subtotal = Subtotal + parseInt($(this).attr('data-total'));
  });

  $('#subtotal').html(currency + Subtotal);
  $('#total').html(currency + Subtotal);
  $('#subtotal').attr('data-subtotal', Subtotal);
  $('#total').attr('data-total', Subtotal);
}

$("[name=quantity]").on('change', function() {
  let currency = '$';
  let price = $(this).attr("data-price")
  let total_price = price*this.value;
  let total = this.value + ' * ' + currency + price +' = ' + currency + total_price;
  $('#product_price'+this.id).html(total);
  $('#product_price'+this.id).attr("data-total",total_price);
  updateSubTotal();
});

</script>

{% endblock %}
