{% extends 'store/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- BREADCRUMB -->
<nav class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Breadcrumb -->
        <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
          <li class="breadcrumb-item">
            <a class="text-gray-400" href="{% url 'dashboard' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a class="text-gray-400" href="{% url 'cart' %}">Shopping Cart</a>
          </li>
          <li class="breadcrumb-item active">
            Checkout
          </li>
        </ol>

      </div>
    </div>
  </div>
</nav>
  
<!-- CONTENT -->
<section class="pt-7 pb-12">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">

        <!-- Heading -->
        <h3 class="mb-4">Checkout</h3>
        {% if not request.user.is_authenticated %}
          <!-- Subheading -->
          <p class="mb-10">
            Already have an account? <a class="font-weight-bold text-reset" href="{% url 'customer_login' %}">Click here to login</a>
          </p>
        {% endif %}

      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-7">

        <!-- Form -->
        <form id='checkout-form' action="{% url 'checkout' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- Heading -->
          <h6 class="mb-7">Billing Details</h6>

          <!-- Billing details -->
          <div class="row mb-9">
            <div class="col-12 col-md-6">

              <!-- First Name -->
              <div class="form-group">
                <label for="checkoutBillingFirstName">First Name *</label>
                {% if profile %}
                    <input class="form-control form-control-sm" id="firstName" type="text" placeholder="First Name" required name="first_name" value="{{ profile.first_name}}">
                {% else %}
                    <input class="form-control form-control-sm" id="firstName" type="text" placeholder="First Name" required name="first_name">
                {% endif %}
              </div>

              </div>
              <div class="col-12 col-md-6">

                <!-- Last Name -->
                <div class="form-group">
                  <label for="lastName">Last Name *</label>
                  {% if profile %}
                      <input class="form-control form-control-sm" id="lastName" type="text" placeholder="Last Name" required name="last_name" value="{{ profile.last_name}}">
                  {% else %}
                      <input class="form-control form-control-sm" id="lastName" type="text" placeholder="Last Name" required name="last_name">
                  {% endif %}
                </div>

              </div>
              <div class="col-12">
                {% if email %}
                <div class="form-group">
                  <label for="checkoutBillingEmail">Email *</label>
                  <p id="checkoutBillingEmail">{{ email }}</p>  
                </div>
                {% endif %}

              </div>
              <div class="col-12">
                {% if phone %}
                <div class="form-group">
                  <label for="checkoutBillingEmail">Phone *</label>
                  <p id="checkoutBillingEmail">{{ phone }}</p>  
                </div>
                {% endif %}

              </div>
              <div class="col-12">
                <label for="checkoutBillingAddress">Billing Address *</label>
                {% if user_address %}
                  <select class="form-control" name="billing_address">
                    <option value="" selected>Select Billing Address</option>
                    {% for add in user_address %}
                      <option value="{{ add.id }}" id="add__{{ add.id }}" data-country="{{ add.country }}"> {{ add }}</option>
                    {% endfor %}
                  </select>
                {% else %}
                  <a href="{% url 'customer_profile' %}">Add address</a>
                {% endif %}
              </div>
          </div>

          <!-- Heading -->
          <h6 class="mb-7">Shipping Address</h6>
          <!-- <div class="col-12">
            {% for add in user_address %}
              {% if forloop.counter is 1%}
                <div class="radio"><label><input type="radio" name="address" id='address' checked data-id="{{ add.id }}">{{ add }}</label></div>
              {% else %}
                <div class="radio"><label><input type="radio" name="address" id='address' data-id="{{ add.id }}">{ add }</label></div>
              {% endif %}
            {% endfor %}
          </div> -->

          <div class="col-12 mb-9">
            {% if shipping_address %}
              <select class="form-control" name="shipping_address">
                <option value="" selected>Select Shipping Address</option>
                {% for add in shipping_address %}
                  <option value="{{ add.id }}" id="add__{{ add.id }}" data-country="{{ add.country }}"> {{ add }}</option>
                {% endfor %}
              </select>
            {% else %}
              <a href="{% url 'customer_profile' %}">Add address</a>
            {% endif %}
          </div>

          <div class="row mb-9">
            <div class="col-12">
              <div class="form-group">
                <label for="coupon">Coupon</label>
                <input class="form-control form-control-sm" type="text" name="coupon_code" id="coupon" placeholder="Enter Coupon Code">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="note">Customization Request</label>
                <textarea class="form-control form-control-sm" name="note" id="note" cols="50" rows="5" placeholder="Enter Customization Request"></textarea>
              </div>
            </div>
          </div>

          <input type="hidden" name="total" value="0">
          <input type="hidden" name='cart_id' value="{{ cart.id }}">
          <input type="hidden" name='country' value="{{ country }}">
          <input type="hidden" name="coupon_id" value="0">
        </form>

      </div>
      <div class="col-12 col-md-5 col-lg-4 offset-lg-1">

        <!-- Heading -->
        <h6 class="mb-7">Order Items ({{ orders.count }})</h6>

        <!-- Divider -->
        <hr class="my-7">

        <!-- List group -->
        <ul class="list-group list-group-lg list-group-flush-y list-group-flush-x mb-7">
          {% for order in orders %}
          <li class="list-group-item">
            <a href="{% url 'product:product_detail' product_id=order.product.id category_id=order.product.category.all.0.id %}">
              <div class="row align-items-center">
                <div class="col-4">

                  <!-- Image -->
                  <img src="{{ order.product.images.all.0.image.url }}" alt="..." class="img-fluid">

                </div>
                <div class="col">

                  <!-- Title -->
                  <p class="mb-4 font-size-sm font-weight-bold">
                    {{ order.product.title }} <br>
                    <span class="text-muted" id='order_price{{ forloop.counter }}' data-price="{{order.price}}" data-quantity="{{ order.quantity }}">{{ order.currency }} {{ order.price }}</span>
                  </p>

                </div>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>

        <form id="taxform" action="{% url 'calculateTax' %}" method="GET">
          <input type="hidden" name="totalPrice" value="{{ total_price }}">
          {% for cat_id in category_ids %}
            <input type="hidden" name="category_ids[]" value="{{ cat_id }}">
          {% endfor %}
        </form>


        <!-- Card -->
        <div class="card mb-9 bg-light">
          <div class="card-body">
            <ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
              <li class="list-group-item d-flex">
                <span>Subtotal</span> <span class="ml-auto font-size-sm" id="subtotal">00.00</span>
              </li>
              <li class="list-group-item d-flex">
                <span>Tax</span> <span class="ml-auto font-size-sm" id="tax" data-tax="">00.00</span>
              </li>
              <li class="list-group-item d-flex">
                <span>Shipping</span> <span class="ml-auto font-size-sm" id="shipping">00.00</span>
              </li>
              <li class="list-group-item d-flex">
                <span>Coupon Discount</span> <span class="ml-auto font-size-sm" id="coupon__discount" data-discount="">00.00</span>
              </li>
              <li class="list-group-item d-flex font-size-lg font-weight-bold">
                <span>Total</span> <span class="ml-auto" id="total">00.00</span>
              </li>
            </ul>
          </div>
        </div>

        <!-- Disclaimer -->
        <p class="mb-7 font-size-xs text-gray-500">
          Your personal data will be used to process your order, support
          your experience throughout this website, and for other purposes
          described in our privacy policy.
        </p>

        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="terms__condition" name="terms" type="checkbox">
            <label class="custom-control-label" for="terms__condition">
              Accept all Terms & Condition.
            </label>
          </div>
        </div>

        <!-- Button -->
        <button class="btn btn-block btn-dark" id='process-btn' disabled>
          Place Order
        </button>

      </div>
    </div>
  </div>
</section>
  
{% endblock %}

{% block script %}
<script>

var currency = '{{ currency }}';

$(document).ready(()=>{
  updateTax();
  updateSubTotal();
});

$('#process-btn').click(()=>{
  $('#checkout-form').submit();
});

$('#coupon').keyup(function(){
  let coupon = $(this).val();
  if(coupon!=""){
    $.ajax({
      url: "{% url 'validateCoupon' %}",
      data: {
        "coupon_code": coupon,
        "cart_id": "{{cart.id}}",
      },
      dataType: 'JSON',
      success: function(data){
        if(data.message == "success"){
          $('#coupon').addClass('is-valid');
          updateCouponDiscount(data.coupon_discount, data.coupon_id);
        }else{
          $('#coupon').removeClass('is-valid');
          updateCouponDiscount();
        }
      }
    });
  }
})

function updateCouponDiscount(discount=0, coupon_id=0){
  console.log(discount, coupon_id);
  $('[name="coupon_id"]').val(coupon_id);
  $('#coupon__discount').data('discount', discount);
  updateSubTotal();
}

function updateSubTotal(){
  let Subtotal = 0;
  let total = 0;
  let tax = $('#tax').data('tax');
  if(tax!="") tax = parseFloat(tax);
  else tax = 0;
  let Shipping = 0;
  let couponDiscount = $('#coupon__discount').data('discount');
  if(couponDiscount!="") couponDiscount = parseFloat(couponDiscount);
  else couponDiscount = 0;
  
  $("[id*=order_price]").each(function(){
      let order_price = $(this).attr('data-price')*($(this).attr('data-quantity'));
      $(this).html(currency + order_price);
      Subtotal = Subtotal + parseFloat(order_price);
  });
  Subtotal = Subtotal.toFixed(2);
  couponDiscount = couponDiscount.toFixed(2);
  total = parseFloat(Subtotal) + parseFloat(tax) - parseFloat(couponDiscount);
  $('#subtotal').html(currency + Subtotal);
  $('#total').html(currency + total);
  $('#tax').html(currency + tax);
  $('#shipping').html(currency + Shipping);
  $('#coupon__discount').html(currency + couponDiscount);
  $('[name=total]').val(total);
}

$('#terms__condition').change(function(){
  if($(this).is(':checked') && $('[name="shipping_address"]').val()!=""){
    $('#process-btn').prop('disabled', false);
  }else{
    $('#process-btn').prop('disabled', true);
  }
})

$('[name="shipping_address"]').change(function(){
  if($(this).val()!="" && $('#terms__condition').is(':checked')){
    $('#process-btn').prop('disabled', false);
  }else{
    $('#process-btn').prop('disabled', true);
  }
  var country = $("#add__"+$(this).val()).data('country');
  if(country!=undefined && country!=$("[name='country']").val())
    console.log(country);
    // window.location="http://localhost:8000/cart/checkout/";
  
  /* update the tax */
  updateTax($(this).val());
});


function updateTax(shipping_address_id=''){
  var cart_id = "{{ cart.id }}";
  if(shipping_address_id!=""){
    $.ajax({
      url: "{% url 'calculateTaxForCart' %}",
      data: {
        "cart_id": cart_id,
        "shipping_address_id": shipping_address_id
      },
      dataType: 'JSON',
      success: function(data){
        $('#tax').html(currency + data.totalTax);
        $('#tax').data('tax', data.totalTax);
        updateSubTotal();
      }
    });
  }
}

</script>
{% endblock %}