{% extends 'store/base.html' %}
{% load staticfiles %}
{% block content %}
{% load crispy_forms_tags %}

<style>
  .choose_shipping_address {
    padding: 3px;
    border: 1px solid rgba(112, 61, 61, 0.158);
    border-radius: 2px;
    background-color: rgba(255, 196, 0, 0.918);
  }
  
  .card-body a {
    color: black;
  }

  .edit{
    margin: 1px;
    margin-top: 2px;
    margin-bottom: 0px;
    padding: 1px;
    border: 1px solid rgba(112, 61, 61, 0.158);
    border-radius: 2px;
    background-color: rgba(192, 184, 184, 0.87);
    font-size: 1rem;
  }

  .delete{
    margin: 1px;
    margin-top: 2px;
    margin-bottom: 0px;
    padding: 1px;
    border: 1px solid rgba(112, 61, 61, 0.158);
    border-radius: 2px;
    background-color: rgba(192, 184, 184, 0.87);
    font-size: 1rem;
  }
</style>

<!-- BREADCRUMB -->
<nav class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Breadcrumb -->
        <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
          <li class="breadcrumb-item">
            <a class="text-gray-400" href="{% url 'dashboard' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a class="text-gray-400" href="{% url 'cart' %}">Shopping Cart</a>
          </li>
          <li class="breadcrumb-item active">
            Choose Shipping Address
          </li>
          
        </ol>

      </div>
    </div>
  </div>
</nav>
  
<!-- CONTENT -->
<section class="pt-7 pb-12">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">

        <!-- Heading -->
        <h3 class="mb-4">Choose Shipping Address</h3>
        {% if not request.user.is_authenticated %}
          <!-- Subheading -->
          <p class="mb-10">
            Already have an account? <a class="font-weight-bold text-reset" href="{% url 'customer_login' %}">Click here to login</a>
          </p>
        {% endif %}

      </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 my-3">
            <div class="row">
                {% for address in all_shipping_address %}
                <div class="col-12 col-md-3 shadow shadow-hover lift">
                    <div class="card cart__address">
                        <div class="card-body">
                            {% if address.full_name %}
                                <div class="card-subtitle mb-1">{{ address.full_name }}</div>
                            {% endif %}
                            <div class="card-text mb-1">{{ address.street_address }} {{ address.landmark }}</div>
                            <div class="card-text mb-1">{{ address.city }} {{ address.state }}, {{ shipping_address.country }}</div>
                            {% if address.mobile_number %}
                                <div class="card-text mb-1"> <strong>P:</strong> {{address.mobile_number }}</div>
                            {% endif %}
                            <hr>
                            <div class="row text-center">
                              <div class="col-12 col-md-12 choose_shipping_address">
                                <a href="{% url 'choose_billing_address' %}?shipping_address_id={{address.id}}" >Deliver to this Address</a>
                              </div>
                            </div>
                           
                            {% if address.address_type == "shipping" %}
                            <div class="row text-center justify-content-between">
                              <div class="col-12 col-md-5 mt-1 edit">
                                <a href="{% url 'update_address' id=address.id %}?address_type=shipping&redirect_to=choose_shipping_address" >
                                  Edit
                                </a>
                              </div>
                              <div class="col-12 col-md-5 mt-1 delete">
                                <a href="{% url 'delete_address' id=address.id %}?redirect_to=choose_shipping_address">
                                  Delete
                                </a>
                              </div>
                            </div>

                            {% else %}
                            <div class="row text-center justify-content-between">
                              <div class="col-12 col-md-6 mt-1 edit">
                                <a href="{% url 'update_address' id=address.id %}?address_type=billing&redirect_to=choose_billing_address" >
                                  Edit
                                </a>
                              </div>
                              <div class="col-12 col-md-6 mt-1 delete">
                                <a href="{% url 'delete_address' id=address.id %}?redirect_to=choose_billing_address">
                                  Delete
                                </a>
                              </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            
        </div>
        <div class="col-12 col-md-12 my-3">
            <div class="card" style="width: auto; border: 1px solid black; border-radius: 0.5rem;">
                <div class="card-body">
                    {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                    {% endif %}
                    <h5 class="text-center">Add {{ address_type }} Address</h5>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                            {{ form.full_name|as_crispy_field }} 
                            </div>
                            <div class="form-group col-md-6 mb-0">
                            {{ form.mobile_number|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                            {{ form.country|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0" id="state">
                            {{ form.state|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0" id="select__state">
                            <div class="form-group">
                                <label for="state">State *</label>
                                <select class="form-control form-control-sm" name="state">
                                    <option value=""></option>
                                    {% for s in state %}
                                        <option value="{{ s.0 }}">{{ s.0 }}</option>
                                    {% endfor %}
                                </select>
                            </div>    
                            </div>
                            <div class="form-group col-md-12">
                            {{ form.street_address|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-12">
                            {{ form.landmark|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                            {{ form.postal_code|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                            {{ form.city|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-12 mb-0">
                            {{ form.default|as_crispy_field }}
                            </div>
                            <input type="hidden" name="address_type" value="{{ address_type }}">
                            <div class="form-group col-md-12 mb-0">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
  
{% endblock %}

{% block script %}
<script>
  $(document).ready(()=>{
      $('#select__state').hide();
  });

  $('[name="country"]').change(function(){
    if($(this).val()=="India"){
        $('#state').hide();
        $('#select__state').show();
    }else{
        $('#state').show();
        $('#select__state').hide();
    }
  })

</script>

{% endblock %}