{% extends 'store/base.html' %}
{% load staticfiles %}
{% block content %}
{% load static %}
<style>
  .custom-control-label::before{border: 1px solid black; border-radius: 50%;}
  .card{border-radius: 5px; max-width: 26rem; margin: 0 auto 0 auto;}
</style>
</style>

<section class="pt-7 pb-12">
    <div class="container">
        <div class="col-12 text-center">
            {% for message in messages %}
                <span class="text-sucess center" id="error_login">{{message}}!!!</span><br />
            {% endfor %}
            <h3 class="mb-4">Choose Payment Method</h3>
        </div>

        <div class="continer col-12">
            <form id='checkout-continue-form' action="{% url 'process_payment' %}" method="post">
                {% csrf_token %}
                <!-- List group -->
                <div class="col-12 mb-7">
                    <!-- Radio -->
                    <div class="card">
                        <div class="card-body">
                            {% if razorpay %}
                            <div class="custom-control custom-radio mb-1">
                                <input class="custom-control-input" id="checkoutPaymentRazorpay" name="razorpay" type="radio">
                                <label class="custom-control-label font-size-sm text-body text-nowrap" for="checkoutPaymentRazorpay">
                                    Online Payment <br>
                                    <!-- <img src="{% static 'images/razorpay.png' %}" alt="..." width="100"> -->
                                </label>
                                
                            </div>
                            {% endif %}
                            {% if cod %}
                            <hr>
                            <div class="custom-control custom-radio mb-1">
                                <input class="custom-control-input" id="COD" name="COD" type="radio">
                                <label class="custom-control-label font-size-sm text-body text-nowrap" for="COD">
                                    Cash On dilivery
                                </label>
                            </div>
                            {% endif %}
                            {% if paypal %}
                            <hr>
                            <!-- <div class="custom-control custom-radio mb-1">
                                <input class="custom-control-input" id="checkoutPaymentPaypal" name="paypal" type="radio">
                                <label class="custom-control-label font-size-sm text-body text-nowrap" for="checkoutPaymentPaypal">
                                    <img src="{% static 'assets/img/brands/color/paypal.svg' %}" alt="...">
                                </label>
                            </div>  -->
                            {% endif %}
                            {% if all_payment_method_off %}
                                <p>Sorry!!!All payment method are blocked in your country.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <input type="hidden" name="order" value="{{ order.id }}">
            </form>
        </div>
    </div>

</section>

{% endblock %}

{% block script %}
<script>

$('#checkoutPaymentPaypal').click(()=>{
    $('#checkout-continue-form').submit();
});
$('#checkoutPaymentRazorpay').click(()=>{
    $('#checkout-continue-form').submit();
});
$('#COD').click(()=>{
    $('#checkout-continue-form').submit();
});
</script>
{% endblock %}