{% extends 'store/base.html' %}
{% load staticfiles %}
{% block content %}

{% block categories_name %}
{% endblock%}

<style>
/*
TESTINOMIALS
*/
#testimonial{margin-top: 30px;}
#testimonial .container .card{border: none; box-shadow: 7px 5px #532726; border-radius: 0px; padding: 13px; padding-top: 0; background: linear-gradient(180deg, #ffffff, #532726);}
#testimonial .container .card .card-title{font-size: 34px; padding: 50px; padding-bottom: 0px; margin: 0px;}
#testimonial .container .card .card-title .read__more{font-size: 1rem; display: block; text-align: end; margin-top: -15px;}
#testimonial .container .card .card-body{padding-top: 16px;}

#testimonial .container .card .card-body .card{background-color: #ffe5e5;  height: 500px; margin-bottom: 10px; border: none; border-top-left-radius: 20px;}
#testimonial .container .card .card-body .card .card-img{width: 40%; margin: 0 auto 0 auto; padding: 10px;}
#testimonial .container .card .card-body .card .card-body{text-align: center; font-weight: 500; height: 330px;  overflow: hidden; text-overflow: ellipsis; background-image: url("{% static 'homepage/icons/song.png'%}"); background-repeat: no-repeat; background-position: center;}
#testimonial .container .card .card-body .card .card-title{font-size: 1rem; padding: 10px 0 10px 0; margin: 0 auto 0 auto; font-family: "Poppins"; font-weight: 600;}


</style>

<!--  Service -->
<section id="header2">
  <div class="container">
      <div class="row">
          <div class="col-6 col-sm-4 col-md-3">
              <img src="{% static 'homepage/icons/warrenty.png'%}" alt="">
              <span>Professional Choice</span>
          </div>
          <div class="col-6 col-sm-4 col-md-3">
              <img src="{% static 'homepage/icons/support.png'%}" alt="">
              <span>Support</span>
          </div>
          <div class="col-6 col-sm-4 col-md-3">
              <img src="{% static 'homepage/icons/specialists.png'%}" alt="">
              <span>Product Specialists</span>
          </div>
          <div class="col-6 col-sm-4 col-md-3">
              <img src="{% static 'homepage/icons/products.png'%}" alt="">
              <span>100+ products</span>
          </div>
      </div>
  </div>
</section>

<!-- SLIDER -->
<section>
  <div class="container">
    <div class="row">
      {% if slideshows %}
      <div class="col-12 col-md-9 col-xl-9 banner">
        <div data-flickity='{"pageDots": true, "fade": true, "autoPlay": true}'>
    
          {% for slideshow in slideshows %}
          <!-- Item -->
          <div class="w-100 bg-cover" style="background-image: url('{{ slideshow.image.url }}');">
            <a href="{{ slideshow.redirect_link }}">
              <div class="container d-flex flex-column">
                <div class="row align-items-center py-12" style="min-height: 550px;">
                  
                </div>
              </div>
            </a>
            
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-12 col-md-3 col-xl-3 advertigement">
        <!-- <div data-flickity='{"pageDots": true, "fade": true, "autoPlay": true}'> -->
    
          <!-- Item -->
          <div class="w-100 bg-cover" style="background-image: url('{% static 'homepage/img/advertigment/advertigement.jpg' %}');">
            <a href="{{ slideshow.redirect_link }}">
              <div class="container d-flex flex-column">
                <div class="row align-items-center py-12" style="min-height: 550px; ">
                  
                </div>
              </div>
            </a>
            
          </div>
        <!-- </div> -->
      </div>
      {% endif %}
    </div>
  </div>

</section>


<!-- Category Images -->
{% if category_images %}
<section style="margin-top: 30px;">
  <div class="container">
      <div class="row">
      {% for cat_image in category_images %}

          <div class="col-12 col-md-6 col-lg-6">

            <a href="{% url 'category_product_list' slug=cat_image.slug %}" style="color: black;">
            <!-- Card -->
              <div class="card card-lg">
                
                <!-- Image -->
                <img class="card-img-top" src="{{ cat_image.image.url }}" alt="{{ cat_image.alt }}">

                <!-- <div class="card-body position-relative mx-6 mx-lg-11 mt-n11 bg-white text-center">

                  <h4 class="mb-0">{{ cat_image.display_name }}</h4>
                  <div class="btn btn-link stretched-link px-0 text-reset" href="!#">
                    Shop Now <i class="fe fe-arrow-right ml-2"></i>
                  </div>

                </div> -->
              </a>

            </div>

          </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

<!-- ARRIVALS -->
<section id="new__arrivals" style="margin-top:30px;">
  <div class="container">
    <div class="card">
      <div class="card-title">
        <div class="title">New Arrival Flutes</div>
      </div>
      <div class="card-body">
        <div class="flickity-page-dots-progress" data-flickity='{"pageDots": true}'>

          {% for product in new_arrival_products %}
          <!-- Item -->
          <div class="col" style="max-width: 300px;">
            <a href="{% url 'category_product_detail' product_id=product.id slug=product.category.all.0.slug product_slug=product.slug %}">
            <div class="card">

              <!-- Image -->
              <div class="card-img">

                <!-- Action -->
                <!-- <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
                  <i class="fe fe-heart"></i>
                </button> -->

                <!-- Button -->
                <!-- <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
                  <i class="fe fe-eye mr-2 mb-1"></i> Quick View
                </button> -->

                <!-- Image -->
                {% for image in product.images.all%}
                  {% if forloop.counter <= 1 %}
                    <img class="card-img-top" src="{{ image.image.url }}" alt="...">
                  {% endif%}
                {% endfor %}

              </div>

              <!-- Body -->
              <div class="card-body font-weight-bold text-center">
                <a class="text-body" href="{% url 'product_detail' product_id=product.id category_id=product.category.all.0.id %}">{{ product.title }}</a> <br>
                <span class="font-size-xs text-gray-350 text-decoration-line-through">{{ currency_symbol }} {{ product.mrp }}</span>
                <span class="text-primary">{{ currency_symbol }} {{ product.price }}</span>
              </div>

            </div>
            </a>
          </div>
          {%endfor %}


        </div>
      </div>
    </div>
    
  </div>
</section>

<!-- ABOUT -->
<section style="margin-top:30px;" id="about_us">
  <div class="container">
      <div class="card">
          <div class="card-body">
              <div class="row">
                  <div class="col-12 col-md-5 offer">
                      <img class="img-fluid" src="{% static 'homepage/img/about_us.jpg'%}" alt="">
                  </div>
                  <div class="col-12 col-md-7">
                      <p style="color: #ff815d; font-family: 'Poppins'; font-size: 25px; font-weight: 400; text-transform: uppercase;">ABOUT US</p>
                      <p style="font-family: 'Gabriela'; font-size: 25px; font-weight: 400; overflow: hidden; ">
                          The belief that each and every single piece of Bansuri must fulfill the best possible standard  before it is taken out of the workshop is what makes the quality of Punam Flutes stand out.
                      </p>
                      <p style="font-family: 'Poppins'; font-weight: 400; ">Punam Flutes was founded by Master Craftsman- Mr Subhash Thakur on the ideology of designing and building the finest professional, innovative and world-class Bansuris. </p>
                      <a href="" style="text-transform: uppercase; text-decoration: none; color: #ff815d; padding: 10px; border-radius: 25px; border: 1px solid #ff815d;">Explore More</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Testimonials -->
{% if testinomials %}
<section id="testimonial">
  <div class="container">
      <div class="card">
          <div class="card-title">Testimonials
              <a class="read__more" href="{% url 'testinomials' %}">Read more...</a>
          </div>
          <div class="card-body">
              <div class="slider">
                {% for testinomial in testinomials %}
                  <div class="col-md-4">
                      <div class="card lift">
                          <img class="card-img rounded-circle img-fluid" src="{{ testinomial.image.url }}" alt="Card image cap">
                          <div class="card-body">
                          {{ testinomial.description }}
                          </div>
                          <div class="card-title">{{ testinomial.name }}</div>
                      </div>
                  </div>
                {% endfor %}
              </div>
          </div>
      </div>
  </div>
</section>
{% endif %}

{% endblock %}

{% block script %}
<script>
  $(document).ready(()=>{
    if($('#modal__cart').val()=="True"){
      $('#modalShoppingCart').modal("show");
    }
    $('#testimonial .slider').flickity({
        // options
        groupCells: true,
        autoPlay: true,
        pageDots: false,
        wrapAround: true
     });
  })
</script>
{% endblock %}