{% extends 'store/base.html' %}
{% load staticfiles %}
{% block content %}

{% block categories_name %}
{% endblock%}

<style>
  .CAT__IMAGES img{
    height: 25rem;
  }
</style>

{% if slideshows %}
<!-- SLIDER -->
<section>
  <div data-flickity='{"prevNextButtons": true, "fade": true}'>
    
    {% for slideshow in slideshows %}
    <!-- Item -->
    <div class="w-100 bg-cover" style="background-image: url('{{ slideshow.image.url }}');">
      <a href="{{ slideshow.redirect_link }}">
        <div class="container d-flex flex-column">
          <div class="row align-items-center py-12" style="min-height: 550px;">
            
          </div>
        </div>
      </a>
      
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}

    <!-- CATEGORIES -->
    
    <!-- <section class="pt-6">
      <div class="container-fluid px-3 px-md-6">
        <div class="row mx-n3">
          {% for cat in categories %}
            {% if forloop.counter <= 3 %}
            <div class="col-12 col-sm-4 d-flex flex-column px-3">

              <div class="card card-xl mb-3 mb-sm-0" style="min-height: 280px">
  
                <div class="card-bg">
                  <div class="card-bg-img bg-cover" style="background-image: url(../static/assets/img/products/product-22.jpg);"></div>
                </div>
  
                <div class="card-body my-auto">
  
                  <h5 class="mb-0">{{ cat.display_name }}</h5>
  
                  <a class="btn btn-link stretched-link px-0 text-reset" href="{% url 'product_list' category_id=cat.id %}">
                    Shop Now <i class="fe fe-arrow-right ml-2"></i>
                  </a>
  
                </div>
  
              </div>
  
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section> -->

    <!-- Category Images -->
    {% if category_images %}
    <section>
      <div class="container my-10">
        <div class="row CAT__IMAGES">
          {% for cat_image in category_images %}

              <div class="col-12 col-md-4">

                <!-- Card -->
                <div class="card card-lg">
                  
                  <!-- Image -->
                  <img class="card-img-top" src="{{ cat_image.image.url }}" alt="{{ cat_image.alt }}">

                  <!-- Body -->
                  <div class="card-body position-relative mx-6 mx-lg-11 mt-n11 bg-white text-center">

                    <!-- Heading -->
                    <h4 class="mb-0">{{ cat_image.display_name }}</h4>

                    <!-- Link -->
                    <a class="btn btn-link stretched-link px-0 text-reset" href="{% url 'product_list' category_id=cat_image.id %}">
                      Shop Now <i class="fe fe-arrow-right ml-2"></i>
                    </a>

                  </div>

                </div>

              </div>
          {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}

    <!-- ARRIVALS -->
    <section class="py-12">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="mb-10 text-center">New Arrivals</h2>
          </div>
        </div>
      </div>

      
      <div class="flickity-page-dots-progress" data-flickity='{"pageDots": true}'>

        {% for product in new_arrival_products %}
        <!-- Item -->
        <div class="col" style="max-width: 300px;">
          <a href="{% url 'product_detail' product_id=product.id category_id=product.category.all.0.id %}">
          <div class="card">

            <!-- Image -->
            <div class="card-img">

              <!-- Action -->
              <!-- <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
                <i class="fe fe-heart"></i>
              </button> -->

              <!-- Button -->
              <!-- <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
                <i class="fe fe-eye mr-2 mb-1"></i> Quick View
              </button> -->

              <!-- Image -->
              {% for image in product.images.all%}
                {% if forloop.counter <= 1 %}
                  <img class="card-img-top" src="{{ image.image.url }}" alt="...">
                {% endif%}
              {% endfor %}

            </div>

            <!-- Body -->
            <div class="card-body font-weight-bold text-center">
              <a class="text-body" href="{% url 'product_detail' product_id=product.id category_id=product.category.all.0.id %}">{{ product.title }}</a> <br>
              <span class="font-size-xs text-gray-350 text-decoration-line-through">{{ currency_symbol }} {{ product.mrp }}</span>
              <span class="text-primary">{{ currency_symbol }} {{ product.price }}</span>
            </div>

          </div>
          </a>
        </div>
        {%endfor %}


      </div>
    </section>

{% endblock %}

{% block script %}
<script>
  $(document).ready(()=>{
    if($('#modal__cart').val()=="True"){
      $('#modalShoppingCart').modal("show");
    }
  })
</script>
{% endblock %}