{% extends 'store/base.html' %}
{% load staticfiles %}
{% block content %}

{% block categories_name %}
{% endblock%}

<!-- SLIDER -->
<section>
  <div data-flickity='{"prevNextButtons": true, "fade": true}'>

    <!-- Item -->
    <div class="w-100 bg-cover" style="background-image: url(../static/assets/img/covers/cover-5.jpg);">
      <div class="container d-flex flex-column">
        <div class="row align-items-center py-12" style="min-height: 550px;">
          <div class="col-12 col-md-6 col-lg-5 col-xl-4 offset-md-1">

            <!-- Heading -->
            <h1>Summer Sale</h1>

            <!-- Heading -->
            <h2 class="display-1 text-primary">-70%</h2>

            <!-- Heading -->
            <h5 class="mt-n4 mb-8">with promo code CN67EW*</h5>

            <!-- Button -->
            <a class="btn btn-dark" href="shop.html">
              Shop Now <i class="fe fe-arrow-right ml-2"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!-- Item -->
    <div class="w-100 bg-cover" style="background-image: url('../static/assets/img/covers/cover-23.jpg');">
      <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-end py-12" style="min-height: 550px;">
          <div class="col-12 col-md-6 col-lg-5 col-xl-4 offset-md-n1">

            <!-- Heading -->
            <h1 class="mb-5">Summer Collection</h1>

            <!-- Text -->
            <p class="mb-8 font-size-lg text-gray-500">
              So called give, one whales tree seas dry place own
              day, winged tree created spirit.
            </p>

            <!-- Button -->
            <a class="btn btn-dark" href="shop.html">
              Shop Now <i class="fe fe-arrow-right ml-2"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!-- Item -->
    <div class="w-100 bg-cover" style="background-image: url(../static/assets/img/covers/cover-16.jpg);">
      <div class="bg-dark-20">
        <div class="container d-flex flex-column">
          <div class="row align-items-center justify-content-end" style="min-height: 550px;">
            <div class="col-12 text-center text-white">

              <!-- Preheading -->
              <h4 class="mb-0">Summer Styles</h4>

              <!-- Heading -->
              <h1 class="display-1">
                50% OFF
              </h1>

              <!-- Links -->
              <p class="mb-0">
                <a href="shop.html" class="link-underline text-reset mx-4 my-4">Shop Women</a>
                <a href="shop.html" class="link-underline text-reset mx-4 my-4">Shop Men</a>
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

    <!-- CATEGORIES -->
    <section class="pt-6">
      <div class="container-fluid px-3 px-md-6">
        <div class="row mx-n3">
          {% for cat in categories %}
            {% if forloop.counter <= 3 %}
            <div class="col-12 col-sm-4 d-flex flex-column px-3">

              <!-- Card-->
              <div class="card card-xl mb-3 mb-sm-0" style="min-height: 280px">
  
                <!-- Background -->
                <div class="card-bg">
                  <div class="card-bg-img bg-cover" style="background-image: url(../static/assets/img/products/product-22.jpg);"></div>
                </div>
  
                <!-- Body -->
                <div class="card-body my-auto">
  
                  <!-- Heading -->
                  <h5 class="mb-0">{{ cat.display_name }}</h5>
  
                  <!-- Link -->
                  <a class="btn btn-link stretched-link px-0 text-reset" href="{% url 'product:product_list' category_id=cat.id %}">
                    Shop Now <i class="fe fe-arrow-right ml-2"></i>
                  </a>
  
                </div>
  
              </div>
  
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- ARRIVALS -->
    <section class="py-12">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Heading -->
            <h2 class="mb-10 text-center">New Arrivals</h2>

          </div>
        </div>
      </div>

      
      <div class="flickity-page-dots-progress" data-flickity='{"pageDots": true}'>

        {% for product in new_arrival_products %}
        <!-- Item -->
        <div class="col" style="max-width: 300px;">
          <div class="card">

            <!-- Image -->
            <div class="card-img">

              <!-- Action -->
              <!-- <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
                <i class="fe fe-heart"></i>
              </button> -->

              <!-- Button -->
              <!-- <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
                <i class="fe fe-eye mr-2 mb-1"></i> Quick View
              </button> -->

              <!-- Image -->
              {% for image in product.images.all%}
                {% if forloop.counter <= 1 %}
                  <img class="card-img-top" src="{{ image.image.url }}" alt="...">
                {% endif%}
              {% endfor %}

            </div>

            <!-- Body -->
            <div class="card-body font-weight-bold text-center">
              <a class="text-body" href="product.html">{{ product.title }}</a> <br>
              <span class="font-size-xs text-gray-350 text-decoration-line-through">{{ product.currency }} {{ product.mrp }}</span>
              <span class="text-primary">{{ product.currency }} {{ product.price }}</span>
            </div>

          </div>
        </div>
        {%endfor %}


      </div>
    </section>

{% endblock %}

{% block script %}
<script>
  $(document).ready(()=>{
    if($('#modal__cart').val()=="True"){
      $('#modalShoppingCart').modal("show");
    }
  })
</script>
{% endblock %}