{% extends 'store/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- BREADCRUMB -->
<nav class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Breadcrumb -->
        <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
          <li class="breadcrumb-item">
            <a class="text-gray-400" href="index.html">Home</a>
          </li>
          <li class="breadcrumb-item active">
            International Stores
          </li>
        </ol>

      </div>
    </div>
  </div>
</nav>

<!-- CONTENT -->
<section class="pt-7 pb-12">
    <div class="container">
        <h3 class="text-center b"><u>International Stores</u></h3>
        <p class="text-center">All the orders placed on www.punamflutes.com are dispatched from the head office in New Delhi, India.

            You don’t need to reach out to our local dealers and instead can contact us directly.</p>
        <div class="list-group">
            <div id="USA" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Our Bansuri Store in USA & CANADA</h5>
              </div>
              
                <div>
                <p>One World Flutes</p>
                <div>Customers in USA and Canada MUST place Order and Purchase the Subhash Thakur Flutes, from One World Flutes.
                </div>
                <div>
                    As it will save you from Customs Duties, Charges, Delays, Possibility of Damage EnRoute
                </div>
                <div>
                    <b>Free [ Shipping + Insurance + Tracking ] on all Subhash Thakur Flutes, Shipped within the USA.</b>
                </div>
                <div><b>Contact One World Flutes :</b><a href="http://www.oneworldflutes.com/ContactUs.asp">http://www.oneworldflutes.com/ContactUs.asp</a> </div>

                <div> 
                    <b>Address</b> 5936, Hillglen Drive

                    Fort Worth, Texas. 76148.
                    
                    U S A.
                </div>
                <div><b>Contact Person:</b> Kirti L. Shah</div>

                <div><b>Phone</b>  +1-817-576-4875</div>
                <div><b>Email</b>  kirti.shah@live.com </div>
                
                
                <p><b>Web Address for Flutes</b></p>
                <div>
                    <b>Subhash Thakur Flutes</b> <a href="http://www.oneworldflutes.com/SubhashThakurBansuris.html">http://www.oneworldflutes.com/SubhashThakurBansuris.html</a> 
                </div>
                <div>
                    <b>Subhash Thakur Shuddh Madhyam Flutes.</b> <a href="http://www.oneworldflutes.com/SubhashThakurShuddhMadhyamBansuris.html">http://www.oneworldflutes.com/SubhashThakurShuddhMadhyamBansuris.html</a> 
                </div>
                <div>
                    <b>Subhash Thakur Carnatic Flutes.</b>  <a href="http://www.oneworldflutes.com/SubhashThakurCarnaticBansuris.html">http://www.oneworldflutes.com/SubhashThakurCarnaticBansuris.html</a> 
                </div>
               
                </div>
            </div>
    
            <a id="Austraila" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Bansuri Store in Australia</h5>
                </div>
                
                <div>
                    <p>Bansuri shop in Australia</p>
                    <p>Ajuna is a good Bansuri player and has taught many to play bansuri. He has been in India doing research on Bansuri for more than ten years.

                    If You are living in Austraila you are recommended to buy our Bansuri directly from Arjuna.
                    </p>
                    <div><b>Contact Person:</b> Arjuna Buchanan</div>

                    <div><b>Ph#</b> 0414 186 024</div>

                    <div> 
                        <b>Address</b> - c/- P.O..Box 187
                        Peregian Beach 4573
                        Queensland
                        Australia

                        arjunaflute@hotmail.com
                        <div>
                            For more details go to my web site:-
                            www.bansuriaustralia.com.au
                        </div>
                    </div>
                   
                </div>
            </a>
    
            <a id="UK" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Store in United Kingdom</h5>
                </div>
                
                <div class="row">
                    <div class="mb-1 col-sm-6">
                        <div>Central London Store</div>
                        <div>JAS Musicals Limited</div>        
                        <div> 
                            14 Chiltern Street, London  W1U 7PY (UK)
                        </div>
                        <div><b>Tel:</b> 020 7935 0793    </div>  
                    </div>
                    <div class="mb-1 col-sm-6">
                        <div>Southall Store</div>
                        <div>JAS MUSICALS LIMITED,</div>        
                        <div> 
                            120 THE BROADWAY, SOUTHALL, UB1 1QF, (UK). 
                        </div>
                        <div><b>Tel:</b> + 44 (0) 208 574 2686     </div>  
                    </div>
                </div>
            </a>
            
          </div>
    </div>
</section>

{% endblock %}