{% extends 'store/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- CONTENT -->
<section class="py-12">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
      </div>
      <div class="col-12 col-md-6 offset-md-3 LOGIN" style="display:none">

        <!-- Card -->
        <div class="card card-lg mb-10 mb-md-0">
          <div class="card-body">
            <div class="col-12">
              <p>
                {% for message in messages %}
                <span class="text-danger center" id="error_login">{{message}}!!!</span><br />
                {% endfor %}
              </p>
            </div>

            <!-- Heading -->

            <h6 class="mb-7">Login</h6>

            <!-- Form -->
            <form method="post" action="{% url 'customer_login' %}" id="signInByEmail">
              {% csrf_token %}
              <div class="row">
                <input type="hidden" name="type" value="email">

                <div class="col-12">
                  <!-- Email -->
                  <div class="form-group">
                    <label class="sr-only" for="loginEmail">
                      Email Address *
                    </label>
                    <input class="form-control form-control-sm" id="loginEmail" name="email" type="email"
                      placeholder="Email Address *" required>
                  </div>
                </div>

                <div class="col-12">
                  <!-- Password -->
                  <div class="form-group">
                    <label class="sr-only" for="loginPassword">
                      Password *
                    </label>
                    <input class="form-control form-control-sm" id="loginPassword" type="password" name="password"
                      placeholder="Password *" required>
                  </div>
                </div>

                <div class="col-12 col-md-auto" style="display: none;">
                  <!-- Link -->
                  <div class="form-group">
                    <a class="font-size-sm text-reset" data-toggle="modal" href="#modalPasswordReset">Forgot
                      Password?</a>
                  </div>

                </div>
                <div class="col-12">

                  <!-- Button -->
                  <button class="btn btn-sm btn-dark" type="submit">
                    Sign In
                  </button>

                  <button style="display: none;" class="btn btn-sm btn-dark" onclick="signInViaPhone()">
                    SignIn via Phone
                  </button>

                </div>
              </div>
            </form>

            <form method="post" action="{% url 'customer_login' %}" id="signInByPhone">
              {% csrf_token %}
              <div class="row">
                <input type="hidden" name="type" value="phone">
                <input type="hidden" name="phone__verified" id="phone__verified" value="0">
                <div class="col-12 col-md-6">
                  <input type="hidden" name="type" value="phone">
                  <input type="hidden" name="phone__verified" id="phone__verified" value="0">

                  <div class="form-group">
                    <label class="sr-only" for="CountryCode">
                      Country Code
                    </label>
                    <select class="form-control form-control-sm" id="CountryCode" name="country_code"
                      placeholder="Country Code *" required>
                      <option value="">select country code </option>
                      {% for code, countryCode in countryCodes.items %}
                        {% for cCode in countryCode %}
                          <option value="{{ cCode }}">{{ code }}: {{ cCode }}</option>
                        {% endfor %}
                      {% endfor %}

                    </select>
                  </div>

                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="sr-only" for="PhoneNumber">
                      Phone Number
                    </label>
                    <input class="form-control form-control-sm" id="PhoneNumber" name="phone"
                      type="text" placeholder="Phone Number *" required maxlength="15">
                  </div>
                </div>

                <div class="col-12 PASSWORD">
                  <!-- Password -->
                  <div class="form-group">
                    <label class="sr-only" for="loginPassword">
                      Password *
                    </label>
                    <input class="form-control form-control-sm" id="loginPassword" type="password" name="password"
                      placeholder="Password *" required>
                  </div>
                </div>

                <!-- <div class="col-12 col-md-6 OTP">
                  <div class="form-group">
                    <button class="btn btn-sm btn-dark" id="sendOTPInput">
                      Send OTP
                    </button>
                  </div>
                </div>

                <div class="col-12 col-md-6 OTP">
                  <div class="form-group">
                    <label class="sr-only" for="sendOTP">
                      Send OTP
                    </label>
                    <input class="form-control form-control-sm" id="sendOTPInput" name="otp"
                      type="text" placeholder="OTP *" required>
                  </div>
                </div> -->

                <div class="col-12 col-md-auto" style="display: none;">
                  <!-- Link -->
                  <div class="form-group">
                    <a class="font-size-sm text-reset" data-toggle="modal" href="#modalPasswordReset">Forgot Password?</a>
                  </div>
                </div>

                <!-- <div class="col-12 col-md-auto PASSWORD">
                  <div class="form-group">
                    <a class="font-size-sm text-reset" data-toggle="modal" onclick="singInViaOTP()">
                      Signin Via OTP
                    </a>
                  </div>
                </div>

                <div class="col-12 col-md-auto OTP">
                  <div class="form-group">
                    <a class="font-size-sm text-reset" data-toggle="modal" onclick="singInViaPASSWORD()">
                      Signin Via Password
                    </a>
                  </div>
                </div> -->

                <div class="col-12">
                  <button class="btn btn-sm btn-dark" type="submit">
                    Sign In
                  </button>

                  <button class="btn btn-sm btn-dark" onclick="signInViaEmail()">
                    SignIn via Email
                  </button>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block script %}
<script>
    $(document).ready(()=>{
      $('.LOGIN').show();
      $('#signInByPhone').hide();
      $('.OTP').hide();
    });

    function signInViaEmail(){
      $('#signInByPhone').hide();
      $('#signInByEmail').show();
    }
    function signInViaPhone(){
      $('#signInByPhone').show();
      $('#PhoneNumber').prop('disabled', true);
      $('#signInByEmail').hide();
    }
    function singInViaOTP(){
      $('.PASSWORD').hide();
      $('.OTP').show();
    }
    function singInViaPASSWORD(){
      $('.PASSWORD').show();
      $('.OTP').hide();
    }

    $('#CountryCode').change(function(){
    if($('#CountryCode').val()!=""){
      $('#PhoneNumber').prop('disabled', false);
    }else{
      $('#PhoneNumber').prop('disabled', true);
    }
  })
</script>
{% endblock %}
