{% extends 'store/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- BREADCRUMB -->
<nav class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Breadcrumb -->
        <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
          <li class="breadcrumb-item">
            <a class="text-gray-400" href="index.html">Home</a>
          </li>
          <li class="breadcrumb-item active">
            Return Policy
          </li>
        </ol>

      </div>
    </div>
  </div>
</nav>

<!-- CONTENT -->
<section class="pt-7 pb-12">
    <div class="container">
        <h3 class="text-center b"><u>Return Policy</u></h3>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">Punam Flutes is very professional and courteous towards customers who are not satisfied with our product or service. We'd like you to reach us immediately if any part of the buying experience or product itself is unsatisfactory or has other issues. We strive to achieve your utmost satisfaction when it comes to making and selling flutes made by us.</h6>
              </div>
            </a>
    
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">EXCHANGE/RETURN</h5>
                </div>
                
                <div>
                    <ul>
                        <li class="mb-1">
                          <p class="mb-0">Please note, once the order is placed, the product can be exchanged (for only Indian customers and non-customized orders) if the customer is not satisfied. Refund for the product is not applicable for </p>
                          <ul>
                            <li>
                                International orders (Because of high shipping cost and insurance)
                              </li>
                              <li>
                                Custom orders (Because the bansuri becomes non-usable for other customers)
                              </li>
                              <li>
                                COD orders
                              </li>
                              <li>
                                Bank transfer order
                              </li>
                              <li>
                                Clearness sale
                              </li>
                          </ul>
                        </li>
                        <li class="mb-1">
                            For all other orders, there is a 7 days replacement guarantee only refund not allowed for any order.
                        </li>
                        <li class="mb-1">
                            For initializing the replacement process, please inform us immediately about the same by email - <b>info@flute.in</b> and exchange the product back to the given address in original condition and original packing within 3 business days of receiving the product. 
                        </li>
                        <li class="mb-1">
                            If the order was placed by mistake, we should be informed immediately about the same before the packet is dispatched which usually happens within 24 hours of the purchase. You can reach us by writing to us at <b>info@flute.in</b> or call us at  Mob: +91 8505922922, 8588870611
                        </li>
                        <li class="mb-1">
                            If we are informed in time for an order made due to an error, and the cancellation is requested before the product is dispatched, we will refund entire paid amount for the product within 7 business days.
                        </li>
                    </ul>
                </div>
            </a>
            
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h7 class="mb-1"><b>Return Address:</b>  Punam Flutes, A 58, Jawahar Park, Khanpur, New Delhi 110062, INDIA, Mobile # +91 8505922922, 8588870611</h7>
                </div>
              </a>
          </div>
    </div>
</section>

{% endblock %}