{% extends 'store/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- BREADCRUMB -->
<nav class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Breadcrumb -->
        <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
          <li class="breadcrumb-item">
            <a class="text-gray-400" href="index.html">Home</a>
          </li>
          <li class="breadcrumb-item active">
            Terms & Conditions
          </li>
        </ol>

      </div>
    </div>
  </div>
</nav>

<!-- CONTENT -->
<section class="pt-7 pb-12">
    <div class="container">
        <h3 class="text-center b"><u>Terms & Conditions</u></h3>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">SHIPMENT DELIVERY</h5>
              </div>
              
              <div>
                  <ul>
                    <li class="mb-1">
                        The shipment will ship in three to five business days and the customer will get the tracking no. and courier company website.
                    </li>
                    <li class="mb-1">
                        If the bansuri order is customized by the customer, it takes at least 10-15 business days for the order to ship.                     
                    </li>
                    <li class="mb-1">
                        <p class="mb-0">We can cancel the order at any time and the money will be refunded, if you have already made the payment. The order can be cancelled due to the following reasons - </p>
                        <ul>
                            <li>Item out of stock.</li>
                            <li>Wrong discount coupons delivered.</li>
                            <li>Price changed unintentionally because of website update of server problem.</li>
                        </ul>
                    </li>
                    <li class="mb-1">
                        If the shipment is stuck in custom clearance, then the company is not responsible for the late shipment, but we will try our best to solve the problem.
                    </li>
                    <li class="mb-1">
                        A customised and clearness sale order can not be cancelled, refunded or exchanged. An order is considered a customised order if you request any change in the original manufacturing process including any extra engraving requests.   
                    </li>
                    <li class="mb-1">
                        Actual product will not look exactly like the product in the picture. Bamboo flutes are made from naturally occurring bamboo plants, making every bamboo unique. Every bamboo has its own diameter, weight, strength and appearance, making it almost impossible to make two flutes that look alike. What we can control is pitch, scale and frequency of the flute, and every flute that Punam Flutes sells is absolutely perfect in these parameters. 
                    </li>
                  </ul>
              </div>
            </a>
    
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">SHIPMENT DILIVERY DELAY</h5>
                </div>
                
                <div>
                    <ul>
                        <li class="mb-1">
                          <p class="mb-0">If the shipment delivery is delayed because any of the following reasons, the company is not responsible –</p>
                          <ul>
                              <li>
                                War, rebellion, tumult, political disturbance, insurrection.
                              </li>
                              <li>
                                Lockdown, strikes, riots, civil commotion.
                              </li>
                              <li>
                                Epidemics, quarantine, land slips, floods, frost or snow, bore tides, bad weather.
                              </li>
                              <li>
                                Accidents at the wharf;
                              </li>
                          </ul>
                        </li>
                        <li class="mb-1">
                            <p class="mb-0">But the company will try its best to deliver the product to you as soon as possible.</p>
                            <ul>
                               <li>
                                If custom duty or any other tax is applied in the customer’s country then the customer will have to pay for it. But normally most of our orders get through easily and in very rare circumstances we have faced any such issues.
                               </li>
                               <li>
                                Once you receive the package, remove the Flutes safely from the package and wrappings. Check the Flutes for any Damage, Cracks. Etc. Leave the Label Intact. If Damage or Cracks are observed you must send us an E Mail the same day, with Photos attached of the damaged product. If the damage is not observed within a day of shipment then we are not responsible.
                               </li>
                               <li>
                                If the package reaches the given address and there is no one to receive the package then it is the customer’s duty to contact the courier company and solve the problem or collect the package on their own. If the courier company takes extra payment for keeping the package on hold then the customer will have to pay for it.
                               </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </a>
    
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">AFTER THE SHIPMENT DELIVERY</h5>
                </div>
                
                <div>
                    <ul>
                        <li class="mb-1">
                            <p class="mb-0">Please note, once the order is placed, the product can be exchanged (for only Indian customers and non-customized orders) if the customer is not satisfied. Refund for the product is not applicable for </p>
                            <ul>
                              <li>
                                International orders (Because of high shipping cost and insurance)
                              </li>
                              <li>
                                Custom orders (Because the bansuri becomes non-usable for other customers)
                              </li>
                              <li>
                                COD orders
                              </li>
                              <li>
                                Bank transfer order
                              </li>
                              <li>
                                Clearness sale
                              </li>
                            </ul>
                          </li>
                    </ul>
                </div>
            </a>
            
                
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h6>For all other orders, there is a 7 days replacement guarantee only refund not allowed for any order. </h6>
                </div>
            </a>
            
          </div>
    </div>
</section>

{% endblock %}