{% extends 'store/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- CONTENT -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
      </div>
      <div class="col-12 col-md-6 offset-md-3">

        <!-- Card -->
        <div class="card">
          <div class="card-header"> <h4 class="text-center">Login using email</h4></div>
          <div class="card-body mt-0 pt-0 mb-0 pb-0">
            <div class="col-12">
              <p>
                {% for message in messages %}
                <span class="text-danger center" id="error_login">{{message}}!!!</span><br />
                {% endfor %}
              </p>
            </div>

            <form method="post" id="signInByEmail">
              {% csrf_token %}
              <div class="row">
                <input type="hidden" name="type" value="email">

                <div class="col-12">
                  <!-- Email -->
                  <div class="form-group">
                    <label class="" for="loginEmail">
                      Email Address
                    </label>
                    <input class="form-control form-control-sm" id="loginEmail" name="email" type="email"
                      placeholder="Email Address *" required>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <label class="" for="loginPassword">
                      Password
                    </label>
                    <input class="form-control form-control-sm" id="loginPassword" type="password" name="password"
                      placeholder="Password *" required>
                  </div>
                </div>

                <div class="col-12 col-md-auto">
                  <div class="form-group">
                    <a href="{% url 'password_reset' %}" class="font-size-sm">Forgot Password?</a>
                  </div>

                </div>
                <div class="col-12">
                  <button class="btn btn-sm btn-info" type="submit">
                    Sign In
                  </button>

                  <a class="btn btn-sm btn-info" href="{% url 'customer_phone_login' %}">
                    SignIn via Phone
                  </a>

                </div>
              </div>
            </form>

          </div>
          <div class="card-footer mt-0 pt-0">
            <div class="col-12 mt-3 text-right">
              Click <a href="{% url 'customer_register' %}">here</a> for registration.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block script %}

{% endblock %}
